[2020-11-18 17:29] thecodeclimber opened #1 "Change Image Files Names to Lower Case with Hyphens"
@kirti75waytech Please watch the following video and make the appropriate changes.  Thanks.

https://www.loom.com/share/90445b0eb043453bb7014f7694cadd86

[2020-11-18 17:46] kirti75waytech commented on #1
Sure i will change that tomorrow morning.

[2020-11-19 17:13] thecodeclimber opened #2 "Change Names of fontSize in tailwind.config.js"
https://www.loom.com/share/8c1095b864b34e04b4ad91203b03cab7

[2020-11-19 17:24] thecodeclimber opened #3 "Redo Hero Section"
https://www.loom.com/share/c129c4c7829046b8821deeb7ac6dd99c

[2020-11-19 17:31] thecodeclimber commented on #3
NOTE:  I will have to get the curved design later on.

[2020-11-19 18:20] thecodeclimber commented on #3
Here is the video of how to add the curve:  https://www.loom.com/share/e2293f05ab8d41959c426435e9083ce2
i also sent you a comment about it via figma

[2020-11-19 20:53] thecodeclimber opened #4 "Fix background of The Ramsay Way section"
https://www.loom.com/share/2abbf099799543fa91088e7c2c7cac83

[2020-11-19 20:57] thecodeclimber opened #5 "Fix Hamburger Menu on Tablet/Mobile"
https://www.loom.com/share/31a967f18df24acab15788cb864ccdc1

[2020-11-20 04:24] kirti75waytech commented on #1
This is done yesterday, please verify and let me know if any other change required.

[2020-11-20 11:08] kirti75waytech commented on #2
This is done today, please verify and let me know if any other change required.

[2020-11-20 11:08] kirti75waytech commented on #5
This is done today, please verify and let me know if any other change required.

[2020-11-23 13:33] kirti75waytech commented on #3
This is almost done today (Left side background fixed, right side background getting some issue), please verify and let me know if any other change required.

[2020-11-23 13:33] kirti75waytech commented on #4
This is done today, please verify and let me know if any other change required.

[2020-11-23 18:17] thecodeclimber commented on #1
Thanks :)

[2020-11-23 18:17] #1 closed

[2020-11-23 18:19] thecodeclimber commented on #2
Thanks -- but I'd still like to make one more change.

This is the current code:

[code]

Please change to this:

[code]

Thanks.

[2020-11-23 18:20] thecodeclimber commented on #5
Great -- thanks 👍

[2020-11-23 18:21] #5 closed

[2020-11-23 18:33] thecodeclimber commented on #3
Can you let me know what issues?

Also, there are some other issues that we need to deal with.  Here is a video showing them:

https://www.loom.com/share/ec7af329c1994758a6fbe3f0a1e1e010

[2020-11-23 18:38] thecodeclimber commented on #4
I don't see the background lines in this section.  Here is a screen shot:

![image](https://user-images.githubusercontent.com/65869221/100001465-e182f880-2dcb-11eb-8c02-f5be26f728ca.png)

[2020-11-23 19:36] thecodeclimber opened #6 "Add Testimonial Blurb to Testimonial Section"
Please add the following text as the blurb in the testimonial sectdion:

![image](https://user-images.githubusercontent.com/65869221/100006945-f2376c80-2dd3-11eb-9152-573e17ee9f8d.png)

[2020-11-23 19:56] thecodeclimber opened #7 "Update for Contact Form"
Please update Contact Us form as follows:

* **TITLE**:  Let's Get Started
* **BLURB**: Schedule a Free Consultation Now
* **BUTTON TEXT**:  Submit

![image](https://user-images.githubusercontent.com/65869221/100008806-97534480-2dd6-11eb-84c3-759c89d42ab5.png)

[2020-11-24 10:23] lokesh75way commented on #2
@thecodeclimber how can I change it to
{
        "xs": "0.625rem",
        "sm": "1.063rem",
        "md": "1.125rem",
        "lg": "3.125rem",
}
because these classes "xs", "sm" etc are already defined in tailwind and these are already getting used somewhere else on the page. So if I use the same name then it will overwrite the previous one which we don't want because as per the design we need b

[2020-11-24 12:39] lokesh75way commented on #3
I did a lot research but could not find the way how to arrange three different layers in Redo Hero Section
Layers are line-images, curve-image and vector-character-images.
Because line-images are below the vector-character-images and concurrently line-images are placed above the curve-image.
Please share your thoughts or advise on this.

[2020-11-24 13:41] thecodeclimber commented on #3
Hi there,

I’m happy to share my thoughts (I’ll just have to do a little research first).  With that said, isn’t this a job for kirti?  Did I accidently send you the work request?

Be well,

Moshe

From: Lokesh Bansal<mailto:notifications@github.com>
Sent: Tuesday, November 24, 2020 2:40 PM
To: thecodeclimber/ramsay-site<mailto:ramsay-site@noreply.github.com>
Cc: thecodeclimber<mailto:gdmseo@gmail

[2020-11-24 18:55] thecodeclimber opened #8 "Speed Up Header Link"
Please speed up the scrolling for the 'How It Works' link.  It is too slow.

[2020-11-24 18:56] thecodeclimber opened #9 "Add Scrolling for Contact Button"
The Contact Button in the header section should scroll to the contact form at the bottom of the page.

[2020-11-24 19:08] thecodeclimber opened #10 "Remove Lines from The Ramsay Way section"
Please remove the lines from both the right and left side of the Ramsay Way section.

I'm referring to these lines:

![image](https://user-images.githubusercontent.com/65869221/100140081-20cb4b00-2e99-11eb-9924-a84aa590fffa.png)

[2020-11-24 19:16] thecodeclimber opened #11 "Update Footer Content"
Please update the following in the footer:

# CONTACT DETAILS

![image](https://user-images.githubusercontent.com/65869221/100140858-34c37c80-2e9a-11eb-95f8-a9420f497aab.png)

Please change to the following:

* info@ramsayinnovations.com
* (312) 872-7202

# LEARN MORE

![image](https://user-images.githubusercontent.com/65869221/100140563-ca124100-2e99-11eb-8393-60eca97cbb71.png)

## Text

Please c

[2020-11-24 19:18] thecodeclimber opened #12 "Change About Us Header Link Text"
Please change the About Us link text in the header to Our Founder.

[2020-11-25 10:23] kirti75waytech commented on #3
@thecodeclimber Yes it was assigned to me and I have added the following comment but yesterday Lokesh logged in his github account to my pc to verify something and he forgot to logout. Then I mistakenly sent my comments from his github acocunt. Didn't realise that I was writing from his account. Anyway, thanks for noticing this and getting it into my consideration.

[2020-11-25 10:25] kirti75waytech commented on #2
@thecodeclimber same here, added comments mistakenly from Lokesh's github account. So please ignore account issue. and just follow the comments.

[2020-11-25 17:10] thecodeclimber commented on #2
Good question.  It requires some explanation -- which I did in a video.  It's a bit long (8 minutes), but I think it's important to watch and understand.  After you watch it, please let me know if you have any thoughts or questions.

Here it is:  https://www.loom.com/share/b0728a604fbf40b8a82cdd61d62ada0b

[2020-11-25 17:19] thecodeclimber opened #13 "Update Font Sizes and Styles to Match Figma File"
Please fix up all of the font sizes and styles to match the figma file.

Here is a video explanation:  https://www.loom.com/share/ab40f24e696b4f3fb7b899d9cc38ab58

[2020-11-25 17:36] thecodeclimber opened #14 "Move Home Folder Out of Layouts"
Please see video instructions:  https://www.loom.com/share/9c6f7c28ce7b481e90d4152d039947e1

# Tasks to do

* Inside of the `components ` folder, create a new folder called `pages`
* Move the `home` folder inside of `components/layouts/main` into the `pages` folder
* Remove `home` component from `components/layouts/main/index.js`
* Add `home` component to `pages/index.js`

Please let me know if yo

[2020-11-25 18:49] #9 closed

[2020-11-25 18:49] #12 closed

[2020-11-25 18:50] #8 closed

[2020-11-25 18:50] #10 closed

[2020-11-25 19:05] thecodeclimber opened #15 "Text Changes"
Please change the following text:

# Header

* Contact --> Get Started

# Hero

* Get in Touch --> Get Started

[2020-11-25 19:06] thecodeclimber opened #16 "Add Links"
# Hero Section

* Learn More:  links to The Ramsay Way
* Get Started (previously Get in Touch):  Links to the Contact Form

[2020-11-25 19:15] thecodeclimber opened #17 "Remove Text Underneath Contact Us Form"
Please remove the following from below the contact form:

![image](https://user-images.githubusercontent.com/65869221/100272203-62282d00-2f63-11eb-8ec6-c6121d00e9bf.png)

[2020-11-26 12:59] kirti75waytech commented on #2
@thecodeclimber Thanks for the explanation through video.

Although here are the reason why I did that way just for your reference:

Regarding Design Changes :
I have noticed that the designs have been changed now on FIGMA because of which the font's now looks consistent where as previous they were not consistent. This is the reason why I took custom fonts in config file.

For example : 

- Design

[2020-11-26 21:24] #4 closed

[2020-11-26 21:25] thecodeclimber commented on #2
Got it -- thanks for clarifying :)

[2020-11-26 21:27] thecodeclimber commented on #3
No worries about the account :).

In terms of the background image -- I have created a branch called moshe-branch.  I have made a number of changes which I will make a video on and explain (probably on Sunday).  Until then, be well.

[2020-11-27 13:02] kirti75waytech commented on #13
@thecodeclimber I have updated all the fonts as per the latest design on figma and tried to use the exact font or the closest font size in case the exact font doesn't found. This is done for both web, tablet and mobile resolution. I have pushed my code to main branch. Please test it and let me know in case you want any other changes.
Thanks

[2020-11-28 12:43] kirti75waytech commented on #2
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:44] kirti75waytech commented on #3
Sure, also please assign me more task for next week as I don't have any open ticket. @thecodeclimber

[2020-11-28 12:44] kirti75waytech commented on #6
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:44] kirti75waytech commented on #7
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:44] kirti75waytech commented on #11
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:44] kirti75waytech commented on #13
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:44] kirti75waytech commented on #14
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:45] kirti75waytech commented on #15
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:45] kirti75waytech commented on #16
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-28 12:45] kirti75waytech commented on #17
@thecodeclimber Completed and deployed. Please verify and let me know if you need any other change. Thanks

[2020-11-29 20:56] thecodeclimber opened #18 "Get Contact Form Integrated & Working"
Hi there,

I just want to centralize back and forth about the contact form here in Github.  Last I heard there is a 302 error.  Please update where we are holding in terms of the contact form being integrated into Active Campaign.

Thanks,

Moshe

[2020-11-29 21:17] thecodeclimber opened #19 "Replace Bio and Testimonial Photos"
Please take note of the following video:  https://www.loom.com/share/c7ec847198f74280beef5e84e960dd5a

To summarize:

* Change the bio photo on the site with the bio photo in figma
* Change the testimonial photos on the site with the testimonial photos in figma
  - Keep the same order of the photos as it appears in figma.

Thanks.

[2020-11-30 15:13] thecodeclimber commented on #2
Thanks -- much appreciated.

[2020-11-30 15:13] #2 closed

[2020-11-30 15:13] thecodeclimber commented on #6
Great, thanks.

[2020-11-30 15:13] #6 closed

[2020-11-30 15:14] thecodeclimber commented on #15
Once again, thanks.

[2020-11-30 15:14] #15 closed

[2020-11-30 15:21] thecodeclimber opened #20 "Rename Compontents/pages to Components/content"
Hello, please take a look at this video:  https://www.loom.com/share/2bf021cdfe8a4f928621c86fbcfca6b2

# Tasks

* Rename the `components/pages` folder to `components/content`
* Update the import statement in `pages/index.js`:
  - Change from `import Home from "@/components/page/home"` to `import Home from "@/components/content/home"`

[2020-11-30 15:21] thecodeclimber commented on #14
Thanks.

[2020-11-30 15:21] #14 closed

[2020-11-30 15:30] thecodeclimber commented on #11
Thanks -- almost done.

First of all, I made a slight textual change:

* The Ramsay Method --> Ramsay Method
* The Ramsay Advisor  --> Ramsay Advisor
* The Ramsay Commitment  --> Ramsay Commitment

---

Secondly, we need to add links:

* Ramsay Method:  Link to The Ramsay Method
* Ramsay Advisor:  Link to The Ramsay Advisor
* Ramsay Commitment:  Link to The Ramsay Commitment

See video:  https://w

[2020-11-30 15:31] thecodeclimber commented on #7
Thanks :)

[2020-11-30 15:31] #7 closed

[2020-11-30 15:32] thecodeclimber commented on #16
Great -- thanks.

[2020-11-30 15:32] #16 closed

[2020-11-30 15:33] thecodeclimber commented on #17
Thanks.

[2020-11-30 15:33] #17 closed

[2020-11-30 15:33] thecodeclimber commented on #19
Can I close this issue?  It looks like you did it :)

[2020-11-30 15:52] #13 closed

[2020-11-30 16:04] thecodeclimber commented on #3
Hi there,

Please take a look at this video and make the necessary changes:  https://www.loom.com/share/3760dc93a08c4c74848fe53fe02627b0

if you have questions, thoughts or comments -- please don't hesitate to ask and/or share.

[2020-11-30 16:05] thecodeclimber commented on #3
P.S.  I still have to look into the mobile version.

[2020-11-30 17:27] thecodeclimber opened #21 "Footer Links in Tablet & Mobile View"
Please watch the following video:  https://www.loom.com/share/ab90d46d19b941b6a18c1aa75a33d49b

# Tasks

* Keep 'Links' on left and 'Learn More' on right in Tablet View
* 'Cookie Policy' link should be in the 'Links' section in Mobile view

[2020-11-30 17:31] thecodeclimber opened #22 "Add Required Field Asterisk to Form Fields"
Please watch the following video  https://www.loom.com/share/41cbddae25bc4b7abfb9a8525dc1f836

# Tasks

* Add required field asterisk to all form fields in the call-to-acton form field above the footer.

[2020-11-30 17:41] thecodeclimber commented on #3
P.S. 2  In the video I made a mistake.  When I noticed that the hero section worked on different mobile sizes -- that was YOUR work I was looking at (not mine).  Well done :).  Nonetheless, I would still like to make the changes mentioned in the above video and again to avoid using negative margins as much as possible.  You can, of course, use negative left or negative right with position.  That's

[2020-11-30 17:49] thecodeclimber opened #23 "Remove Written Signature"
Please see video:  https://www.loom.com/share/46d659773873495ba1b59e0c07e917c8

# Tasks

* Remove written signature
* Put typed signature and title in it's place
  -- Simplify it all to one `<div>` if possible

[2020-11-30 19:11] thecodeclimber commented on #22
Please note -- I have changed the color of the asterisk to grey-500.  We will use a red color ONLY in the error state (as will be discussed in a future issue).

[2020-11-30 19:31] thecodeclimber opened #24 "Spacing Between Quote & Name"
Please watch this video:  https://www.loom.com/share/659fa6438cb743dda4c0d9cb25b641be

# Tasks

* Please cut in half the space between the Quote and the Name in the testimonial section

[2020-11-30 19:33] thecodeclimber opened #25 "Footer Email & Phone Link"
I am referring to this section:

![image](https://user-images.githubusercontent.com/65869221/100655226-acd6ea00-3353-11eb-9c99-bd8a00e313a9.png)

# Tasks

* Email link should be clickable to send an email
* Phone link should be clickable to make a phone call

[2020-12-01 09:30] kirti75waytech commented on #11
Fixed. Thanks

[2020-12-01 16:43] thecodeclimber opened #26 "Remove Bio Button"
Please remove the "Learn More about Jon" button from the Bio Section:

![image](https://user-images.githubusercontent.com/65869221/100769678-1105b680-3405-11eb-8293-cdd2650fb848.png)

[2020-12-02 12:37] kirti75waytech commented on #18
@thecodeclimber Still getting 302 error from backend api when I submit the form. I think this needs to be look from backend. Let me know if I need to do anything else from my end?

[2020-12-02 12:38] kirti75waytech commented on #19
Yes this is done, please close it. Thanks

[2020-12-02 12:39] kirti75waytech commented on #20
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 12:43] kirti75waytech commented on #21
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 12:43] kirti75waytech commented on #22
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 12:45] kirti75waytech commented on #23
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 13:15] kirti75waytech commented on #24
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 13:18] kirti75waytech commented on #25
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 13:18] kirti75waytech commented on #26
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 13:19] kirti75waytech commented on #3
This one is also completed. Please review and let me know in case of any other changes are required. Thanks

[2020-12-02 18:57] thecodeclimber opened #27 "Remove Isomorphic Image on Tablet & Mobile"
Please remove the Isomorphic Image on both Tablet & Mobile view.

I am referring to this image:

![image](https://user-images.githubusercontent.com/65869221/100918293-f99bfb80-34e0-11eb-8d0d-f9816af16af1.png)

[2020-12-02 19:16] #26 closed

[2020-12-02 19:17] #25 closed

[2020-12-02 19:18] #24 closed

[2020-12-02 19:19] #23 closed

[2020-12-02 19:28] thecodeclimber commented on #22
Please have the asterisk be 4px from the top and right.

[2020-12-02 19:30] #21 closed

[2020-12-02 19:31] #11 closed

[2020-12-02 19:31] #19 closed

[2020-12-02 19:31] #20 closed

[2020-12-02 19:42] thecodeclimber opened #28 "Contact Form Action"
For now, please have the contact form send an email to info@ramsayinnovations.com.  We will work on the integration to Active Campaign at a later date.

[2020-12-02 19:44] thecodeclimber opened #29 "Remove Bio Photo On Tablet & Mobile"
Please remove the bio photo on tablet and mobile view.

I am referring to this image:

![image](https://user-images.githubusercontent.com/65869221/100923186-7f22aa00-34e7-11eb-8e0e-d3e826370e93.png)

[2020-12-03 13:08] kirti75waytech commented on #22
This should be fixed now. Can you please check and let me know in case of any other changes are required. Thanks @thecodeclimber

[2020-12-03 13:13] kirti75waytech commented on #27
@thecodeclimber Today I have fixed the display issue with this image on the tablet and mobile view and it looks much better and as expected. So In think we can keep it now instead of removing it. Please let me know if you still wants to remove it? Or else you can close the ticket.

See attached screenshot from mobile view :
![File](https://user-images.githubusercontent.com/74037279/101022417-62de4

[2020-12-03 13:15] kirti75waytech commented on #29
@thecodeclimber Today I have fixed the display issue with this image on the tablet and mobile view and it looks much better and as expected. So In think we can keep it now instead of removing it. Please let me know if you still wants to remove it? Or else you can close the ticket.

See attached screenshot from mobile view :
![File (1)](https://user-images.githubusercontent.com/74037279/101022618-a

[2020-12-03 13:19] kirti75waytech commented on #28
@thecodeclimber How can I send email as we are not using any backend server in this project so far? Can you please provide some more insight on this?

[2020-12-03 17:53] thecodeclimber commented on #29
Let's keep it -- thanks.

[2020-12-03 17:53] #29 closed

[2020-12-03 17:54] thecodeclimber commented on #27
we'll keep this also -- thanks. 👍

[2020-12-03 17:54] #27 closed

[2020-12-03 18:46] thecodeclimber commented on #28
Let's use FormSpree and the formspree cli (I have already signed up for an account)

* **Website URL: **  https://formspree.io/
* **CLI Documentation: ** https://help.formspree.io/hc/en-us/articles/360053819114
* **Video Tutorial: **  https://www.youtube.com/watch?v=31COiWAmZso

I added your email to our formspree account.  You should receive an email asking you to validate your email address.  On

[2020-12-03 18:47] thecodeclimber commented on #28
p.s. please check your spam folder if you don't see the verification email from formspree.

[2020-12-03 20:50] thecodeclimber commented on #28
P.S. 2 -- for now we'll just send the form to info@ramsayinnovations.com (like I mentioned above).

[2020-12-14 19:33] thecodeclimber opened #30 "Switch Contact Us Link (for now)"
For now, we still want the contact us link to link to the bottom form -- NOT the contact us page.  we are not ready to go live with that yet.

[2020-12-14 20:57] thecodeclimber opened #31 "Replace Image"
We need to replace the following image:

![image](https://user-images.githubusercontent.com/65869221/102134730-9d7d9380-3e5f-11eb-810d-b44106623403.png)

The new version is in figma.  Here is the link:  https://www.figma.com/file/w1Qm5ofwF3DA1lAfjYsbLG/Ramsay-Innovations-Copy?node-id=6243%3A6334

Thanks.

[2020-12-15 18:55] #18 closed

[2020-12-15 18:56] #22 closed

[2020-12-15 19:00] #28 closed

[2020-12-15 19:06] thecodeclimber opened #32 "Send Emails to Right Email Address"
All emails from the contact us form need to go to the following email address:  info@ramsayinnovations.com

You should have backend access to formspree.  If you don't, please let me know and I'll get you access.

Also - dowe need to set up environmental variables on our hosting?

[2020-12-15 19:08] #31 closed

[2020-12-15 19:13] thecodeclimber opened #33 "Fix Curve on Home Page"
The curves between sections on the home page don't look good on large screen sizes.  please fix.  thanks.

[2020-12-15 19:18] thecodeclimber opened #34 "Bio Image Spacing"
The image in the bio section is not spaced properly.

This is how it currently looks:

![image](https://user-images.githubusercontent.com/65869221/102261810-e3e3f880-3f1a-11eb-9c21-1b55629ee7fb.png)

It is too close to the edge.  It needs to be centered more.  As we can see from the figma file:
 https://www.figma.com/file/w1Qm5ofwF3DA1lAfjYsbLG/Ramsay-Innovations-Copy?node-id=6243%3A6362

Here is

[2020-12-16 12:28] thecodeclimber opened #35 "Make Logo a Link"
Please have the Ramsay Logo link to the home page.  Thanks.

[2020-12-17 13:48] #35 closed

[2020-12-17 13:48] #34 closed

[2020-12-17 23:25] thecodeclimber opened #36 "Fix Blurry Logo on Mobile"
The logo is blurry on mobile devices.  Please fix.

here is a screenshot:

![image](https://user-images.githubusercontent.com/65869221/102555638-d459e080-40cf-11eb-9f40-0eaa5ff14472.png)

[2020-12-17 23:29] thecodeclimber opened #37 "Curve Flattens on Mobile View"
Please take a look at the bottom right corner of the curve. It flattens out.

![image](https://user-images.githubusercontent.com/65869221/102555868-55b17300-40d0-11eb-9dc2-9b6c9c8c9796.png)

Please fix - thanks.

[2020-12-17 23:38] thecodeclimber opened #38 "Title & Description Text Changes on Mobile"
Please make sure that the Title and Desription on the mobile version has the same text as on the desktop version.

For example:

THE RAMSAY METHOD

Desktop:

![image](https://user-images.githubusercontent.com/65869221/102555997-93160080-40d0-11eb-833e-953c6b779bd3.png)

Mobile:

![image](https://user-images.githubusercontent.com/65869221/102556476-a8d7f580-40d1-11eb-9bb8-559759242af6.png)

Notice

[2020-12-18 13:28] kirti75waytech commented on #38
Deleted all the mobile and tablet Titles and Descriptions and updated them as same as the desktop's Titles and Descriptions . Please review and let me know in case of any other changes are required. Thanks

[2020-12-18 13:30] kirti75waytech commented on #37
Fixed the Flatten curve on the mobile view. Please check it. Thanks

[2020-12-18 13:31] kirti75waytech commented on #36
Fixed the blurry Logo for mobile view. Please check it. Thanks

[2020-12-18 13:33] kirti75waytech commented on #33
Fixed the curves between sections on home page for all screen sizes. Please check it. Thanks

[2020-12-18 13:34] kirti75waytech commented on #32
Changed the email address to info@ramsayinnovations.com. Please check it, let me know if any changes are required. Thanks

[2020-12-18 13:35] kirti75waytech commented on #30
Fixed it as per the present requirement. Please review it and let me know if any changes are required in this story. Thanks

[2020-12-21 22:27] #38 closed

[2020-12-21 22:39] #3 closed

[2020-12-21 22:41] thecodeclimber commented on #37
@morrisjon Please check on mobile version and make sure that it looks okay.  Please let us know here on github whether or not it is fixed.  Thanks.

[2020-12-21 22:45] thecodeclimber commented on #36
@kirti75waytech Why are you using a .png version of the logo for the mobile view.  The desktop version is a .svg file -- and can scale up or down without losing quality.  Please fix.

[2020-12-21 22:45] thecodeclimber commented on #33
@morrisjon Jon -- please take a look and confirm that it looks good on your screen.

[2020-12-21 22:46] #32 closed

[2020-12-21 22:46] #30 closed

[2020-12-22 13:19] kirti75waytech commented on #36
@thecodeclimber Because the SVG logo looks like blurry when I export it. So that's the reason why I export the .PNG logo because it looks much clear than SVG. Can you please take a look on the mobile SVG logo file if that seems good to you? I think this is only issue with the logo image.

Please advise.

[2020-12-22 14:05] morrisjon commented on #37
This is resolved.

On Mon, Dec 21, 2020 at 4:41 PM thecodeclimber <notifications@github.com>
wrote:

[2020-12-22 14:05] morrisjon commented on #33
This is resolved now

On Mon, Dec 21, 2020 at 4:46 PM thecodeclimber <notifications@github.com>
wrote:

[2020-12-22 14:39] MaksymTaratuta55 opened #39 "Create git workflow"
Git workflow should be:
1. "main" branch for production.
2. "develop" branch for development
3. Each issue should have its own branch from "develop" and merged to "develop" after the finish. Issue branch should naming: #{issue number}-{task-title}

[2020-12-22 14:46] MaksymTaratuta55 opened #40 "Add './src' folder"
Add './src' folder to the root. It should contain "pages", "component", "utils"

[2020-12-22 14:50] MaksymTaratuta55 opened #41 "Rename component files"
All files are ".js" but components must be ".jsx" and started with an uppercase character.

[2020-12-22 14:54] MaksymTaratuta55 opened #42 ""base.js" must be in "_app.js"."
"./components/layouts/base.js" must be in the "_app.js".
And different <title> could be described on every page in the <head>

[2020-12-22 14:55] MaksymTaratuta55 opened #43 "Refactor folders structure"
All components have a structure with path and index.js but better create a folder where it needs and name file as component name. Example: ./components/header/Header.js.

[2020-12-22 14:59] MaksymTaratuta55 opened #44 "Use Prettier"
Add Prettier to the project for having a common code style.
Add Prettier to package.json, add config, add the Prettier extension to VSCode, and set formating on saving property.

[2020-12-22 15:00] MaksymTaratuta55 opened #45 "Refactor MainLayout.js"
MainLayout.js is better to be

`<div className="wrapper">
       		<Header />
    		<main>
			{children}
		</main>
    		<Footer />
      </div>`

[2020-12-22 15:07] MaksymTaratuta55 opened #46 "Less mess constants in code"
For example Footer.js: you don't have to create "const data" in the component. And create it at once without an empty object. Also, you can store it in Footer.constants.js for more cleaner component.
Example:
[code]

[2020-12-22 15:14] MaksymTaratuta55 opened #47 "Less mess components in code"
Example: Header.js: <Navbar /> better to set in a different component.

[2020-12-22 15:17] MaksymTaratuta55 opened #48 "Use css media query instead js"
Use css media query instead js anywhere it is possible.
Example:
Header.js: "window.addEventListener("resize", resize);"
Can u use a media query insted?

[2020-12-22 15:19] MaksymTaratuta55 commented on #48
The same with:
Header.js: handleMobileTabletNavBar()

[2020-12-22 15:20] MaksymTaratuta55 opened #49 "Button.js doesn't use"
Delete please if it won't be used

[2020-12-22 15:22] MaksymTaratuta55 opened #50 "Rename "Content" folder"
Please rename "./src/compnents/Content/" to  "./src/compnents/pages/"
Page components put in ./src/components/pages/home/... and etc.

[2020-12-22 15:27] MaksymTaratuta55 opened #51 "Curves and other similar components should be separated and reusable"
Contact us: TopCurve, BottomCurve and etc. should be common components or in their own files and reuse.

[2020-12-22 15:28] MaksymTaratuta55 opened #52 "Create own component for input with error"
Create own component for input with error and reuse it whole the project

[2020-12-22 15:29] MaksymTaratuta55 opened #53 "Add source map to the project"

[2020-12-22 15:46] MaksymTaratuta55 opened #54 "Use: useCallback, useMemo for optimization"

[2020-12-22 15:57] MaksymTaratuta55 opened #55 "Separate component logic and layout render"
Example:
Component with Logic:
**./EmailForm.jsx**
[code]
Component with Layout:
**./EmailFormLayout.jsx**
[code]

[2020-12-23 00:02] thecodeclimber commented on #39
@MaksymTaratuta55 Are you suggesting that we use the following system:  https://www.youtube.com/watch?v=1SXpE08hvGs

Also, when you say that "each issue should have its own branch" -- do you mean an issue like this one that I am commenting on right now (Create git workflow #39?)?  Or do you mean each feature.

@kirti75waytech I would like to start implementing a git workflow as per Max's comment a

[2020-12-23 00:03] thecodeclimber commented on #39
@MaksymTaratuta55 I am going to assign this issue to you so that you can oversee that we are implementing it properly.

[2020-12-23 00:21] thecodeclimber commented on #40
@kirti75waytech Please take a look at Max's comment above about creating an `.src` folder.  Please note, it should NOT include the `public` folder.  When all is said and done, this should be the file structure:

ROOT
- .vscode
- src
  -- styles
    -- tailwind.css
  -- components
  -- pages
  -- utils
- public
  -- img
.gitignore
README.md
formspree.json
...
yarn.lock

NOTE;  I **changed** `assets

[2020-12-23 00:35] thecodeclimber opened #56 "Fixing home folder inside of components"
@kirti75waytech

Please take a look at the following video:  https://www.loom.com/share/9f224f318f284feea59f675943c7583f

Here is how the folder and file structure should look:

- components
  - content
    - home
      - AboutUs.jsx
      - CallToAction.jsx
      - Hero.jsx
      - ...

 Thanks

[2020-12-23 00:37] thecodeclimber commented on #56
@kirti75waytech

One more change -- in the video I said that you should keep the `index.js` file named `index.js`.  That was a mistake.  Please change the file name to `Home.jsx` [note the file extension change].

Thanks.

[2020-12-23 00:38] thecodeclimber opened #57 "Fix file names in contact-us folder"
@kirti75waytech

Please change the file `index.js` to `ContactUs.jsx` in the `components/content/contact-us` folder.

[2020-12-23 00:41] thecodeclimber opened #58 "Change filename of button.js"
Please change the filename of `button.js` to `Button.jsx` in `components/elements`

NOTE:

* extension is changed to `.jsx`
* make sure to change any instances where `button.js` is being imported.

[2020-12-23 00:42] thecodeclimber commented on #57
NOTE:

* extension is changed to `.jsx`
* make sure to change any instances where `contact-us/index.js` is being imported.

[2020-12-23 00:46] thecodeclimber opened #59 "Fix folder and files in main layout folder"
Please watch the following video:  https://www.loom.com/share/48c38d3390654278819df3d541c7b6c8

Folder to update:  `components/layouts/main`
New structure:

- components
  - layouts
    - main
      - Footer.jsx
      - Header.jsx
      - MainLayout.jsx

NOTE;

* file extension is changed to `.jsx`
* make sure to update relevant import statements throughout the site

[2020-12-23 00:49] thecodeclimber commented on #56
@kirti75waytech As you can see, I have created a number of issues involving updating the names of folders and files.  Please create a unique branch to handle all of these name changes.  Please consult with @MaksymTaratuta55 as to the best way to create this branch.  I.e., naming convention and whether it branches off of the `main` branch or the newly created `development` branch.

Thanks.

[2020-12-23 00:51] thecodeclimber commented on #41
@MaksymTaratuta55

Is the same true for files created under the `pages` or `utils` directories?  I.e.,:

* should they also have a `.jsx` extension?
* should they also start with an uppercase character?

[2020-12-23 00:56] thecodeclimber commented on #42
@kirti75waytech Please note Max's comment above.  I made a short video showing how I believe this should be done:  https://www.loom.com/share/8f635e7838f34c838f1ce0a2ea33699b

Thanks.

[2020-12-23 00:57] #33 closed

[2020-12-23 00:59] thecodeclimber commented on #36
Please switch to the .svg version and please ask @MaksymTaratuta55 for suggestions on how to get it to look clear.  Thanks.

[2020-12-23 00:59] #37 closed

[2020-12-23 01:03] thecodeclimber commented on #44
A few questions:

* Should we also use eslint?
* Any suggested settings or style guides for either:
  * prettier
  * eslint

[2020-12-23 01:24] thecodeclimber commented on #45
@kirti75waytech

Please rewrite the code in `components/main/index.js` as follows:

[code]

NOTE:

* We have REMOVED the `<Base>` component (as noted in another issue).
* We have REPLACED `<Base>` with a `<div>` tag
* We have NOT added any classes to the `<div>` tag
* We have wrapped `{children}` in a `<main>` tag

@MaksymTaratuta55 Note:  for now I do not want to add `className="wrapper"` to the

[2020-12-23 01:26] thecodeclimber commented on #46
@kirti75waytech

Please work on implementing this.  Please do so for all relevant files.  If you have any questions, please feel free to ask @MaksymTaratuta55

Thanks.

[2020-12-23 01:30] thecodeclimber commented on #47
@MaksymTaratuta55

Are you referring to this file:  `components/layouts/main/header/index.js`

If so, I'm not 100% sure what you are suggesting to do.  Could you give a more specific example?

Btw -- perhaps you could make short video with Loom (https://www.loom.com/) to show me what you have in mind.

[2020-12-23 01:34] thecodeclimber commented on #48
@kirti75waytech -- Please make the above changes.

@MaksymTaratuta55 -- Would you mind going through the code and finding as many examples as you can of where we can use media queries.  Also, as a side note -- tailwind css have built in class names for media queries:  https://tailwindcss.com/docs/responsive-design

[2020-12-23 01:36] thecodeclimber commented on #49
@kirti75waytech

Do we use `components/elements/button.js` anywhere?

If not, please delete BOTH the folder and the file.

[2020-12-23 01:39] thecodeclimber commented on #50
@kirti75waytech -- please rename `.src/components/content` to `./src/components/pages`

NOTE:

* Please make sure to update any relevant imports

[2020-12-23 01:41] thecodeclimber commented on #51
@kirti75waytech -- please take care of the above.  Please ask @MaksymTaratuta55 if there is a preference for a "common component' or being put in "their own file for reuse".

[2020-12-23 01:41] thecodeclimber commented on #52
@kirti75waytech -- please take care of the above.  thanks.

[2020-12-23 01:49] thecodeclimber commented on #53
@MaksymTaratuta55 -- I believe source maps are included by default during development with next.js:  https://nextjs.org/docs/advanced-features/source-maps

[2020-12-23 01:49] thecodeclimber commented on #54
@MaksymTaratuta55 -- can you give specific examples of where we should do this.  Thanks.

[2020-12-23 01:50] thecodeclimber commented on #55
@MaksymTaratuta55 -- can you give specific examples of where we should do this?  Again -- thanks :).

[2020-12-23 03:01] thecodeclimber opened #60 "Form Solution"
@MaksymTaratuta55

I would like to use `react-hook-form` to handle our forms:  [https://react-hook-form.com/](https://react-hook-form.com/).

We also need to connect the form to our ActiveCampaign account.  I actually did so in a previous version of this site using chakra-ui.  Here is a gist of that code:  https://gist.github.com/thecodeclimber/1260636549f49b050215778f81da69de

I would like to rew

[2020-12-23 08:07] MaksymTaratuta55 commented on #39
@thecodeclimber, okay. Yes, almost like this https://www.youtube.com/watch?v=1SXpE08hvGs except for the release branch.
Issue branch name example:
**39-create-git-workflow**

[2020-12-23 08:15] MaksymTaratuta55 commented on #41
@thecodeclimber, only react components (pages are react components too) must be with `.jsx` extension.
If it is just a file with common functions (for example in the utils folder) they must be just with `.js` extension.

[2020-12-23 08:35] MaksymTaratuta55 commented on #44
@thecodeclimber, I think eslint is not required, but if you want you can use it.
Prettier example:
[code]
ESLint example:
[code]

[2020-12-23 08:36] MaksymTaratuta55 commented on #45
@thecodeclimber, git it. It was just an example

[2020-12-23 08:41] MaksymTaratuta55 commented on #47
@thecodeclimber, yes, sorry, I missed a word.
Example: Header.js: <Navbar /> better  to set in a different component.

 I mean one document (Header.jsx) must contain only one component to make less mess code.

[2020-12-23 08:51] MaksymTaratuta55 commented on #53
@thecodeclimber, yes it is. My fault. We can close this issue

[2020-12-23 09:29] MaksymTaratuta55 commented on #55
For example ..../contact-us/index.js:
ContactUs component have functions "submitForm", "checkValidations", "handleFormData" and then a long render. I suggest to leave logic (functions) in this component and create new in the current folder "ContactUsLayout.jsx" only with render:
[code]
And then "..../contact-us/index.js" -> "..../contact-us/ContactUs.jsx" and import layout:
const ContactUs = () =>

[2020-12-23 09:38] MaksymTaratuta55 commented on #48
@thecodeclimber, I found only one place: Header.js

[2020-12-23 12:53] MaksymTaratuta55 commented on #39
@thecodeclimber, I mean each issue that needs to be implemented in code, a developer should create an issue branch (example 39-create-git-workflow) from "develop" branch, then implement it in this brach and then merge it back to the "develop" brach

[2020-12-23 12:54] MaksymTaratuta55 commented on #39
@thecodeclimber, I have added "develop" branch

[2020-12-23 13:00] MaksymTaratuta55 commented on #60
@thecodeclimber, yes I can. Can I start?

[2020-12-23 13:14] kirti75waytech commented on #39
@thecodeclimber created the "40-refactoring-folder-structure" branch from "develop" branch. As per the git flow I have pushed my code on the "40-refactoring-folder-structure" branch for your review. This branch consist of same kind of issue as you have suggested me to create a common branch for that. The issues which I have fixed under this branch are : 39, 40, 42, 45, 49, 50, 56, 57, 58, 59. Plea

[2020-12-23 13:17] kirti75waytech commented on #40
@thecodeclimber Changed the assets/css/index.css to styles/tailwind.css and removed the "@/graphql... from the jsconfig.json file and updated the "@/assets/*": ["assets/*"] to "@/styles/*": ["styles/*"].
Please, let me know If any changes are required.
Thanks

[2020-12-23 13:18] kirti75waytech commented on #41
@thecodeclimber Changes have been done. Please review this and let me know If changes are required. Thanks

[2020-12-23 13:19] kirti75waytech commented on #42
@thecodeclimber Changes have been done. Please review this and let me know If changes are required. Thanks

[2020-12-23 13:19] kirti75waytech commented on #45
@thecodeclimber Changes have been done. Please review this and let me know If changes are required. Thanks

[2020-12-23 13:20] kirti75waytech commented on #49
@thecodeclimber I have removed this folder as it was not in use.
Thanks

[2020-12-23 13:21] kirti75waytech commented on #50
@thecodeclimber Changes have been done. Please review this and let me know If changes are required. Thanks

[2020-12-23 13:23] kirti75waytech commented on #56
@thecodeclimber Changes have been done. And this is resolved under "40-refactoring-folder-structure" this branch.
Please review this and let me know If any changes are required.
Thanks

[2020-12-23 13:24] kirti75waytech commented on #57
@thecodeclimber Changes have been done. Please review this and let me know If any changes are required.
Thanks

[2020-12-23 13:25] kirti75waytech commented on #58
@thecodeclimber I have removed this file as It was not in use.

[2020-12-23 13:25] kirti75waytech commented on #59
@thecodeclimber Changes have been done. Please review this and let me know If any changes are required.
Thanks

[2020-12-23 13:35] MaksymTaratuta55 commented on #39
@kirti75waytech, I think you can create a pull request into "develop" branch for review. And if you pass the review, @thecodeclimber can confirm it, and it will merge it automatically. (if you select "delete the branch after the merge, it will delete it automatically too).
Also, you can add a comment with links to issues that were solved in this PR. For example just type: #40

[2020-12-23 13:41] MaksymTaratuta55 commented on #39
@kirti75waytech , @thecodeclimber, also, I added an 'In progress' label and advice to use it for more comfort 🙂

[2020-12-23 14:36] MaksymTaratuta55 commented on #54
@thecodeclimber for example
**call-to-action/index.js**
[code]
Should be
[code]

[2020-12-23 14:41] MaksymTaratuta55 opened #61 "Constatns in components mistake"
**/call-to-action/index.js**
[code]
`initialState` should be initialized out of the component (in CallToAction.constants.js) or in `useState({....})`

[2020-12-23 14:45] MaksymTaratuta55 opened #62 "Separate contact form logic"
Please create separated components for "input form", "successful result" and "error response". And create a wrapper component that will receive all props and render the needed component

[2020-12-23 15:13] thecodeclimber commented on #39
Just for reference, I am going to list here as links the issues that `40-refactoring-folder-structure` addresses:

* #39
* #40
* #42
* #45
* #49
* #50
* #56
* #57
* #58
* #59

[2020-12-23 16:01] thecodeclimber commented on #39
@MaksymTaratuta55 -- if I understand correctly, Kirti should create a separate branch for each of the issues above. For example, the 40 branch should be this: `#40--add-src-folder`.  42 could be `#42--base-to-app`.  And so on.

Is that correct?

Also, I think I would prefer a double dash after the number -- i.e., `#40--add-src-folder` as opposed to `#40-add-src-folder`.  I just think it's easier t

[2020-12-23 16:03] thecodeclimber commented on #39
@MaksymTaratuta55 -- another question.  When do we close an issue.  When it is pushed to the main branch?

[2020-12-23 16:07] MaksymTaratuta55 commented on #39
@thecodeclimber, sure we can use double dash `--`, if you want.

Yes, you are right. But in this case, we can leave it as it is already done.

[2020-12-23 16:12] MaksymTaratuta55 commented on #39
I think we can add the label 'Done' and put it to issues that have been done. And close the issue when we merge it to the master branch. But developers should look after that.

[2020-12-23 16:17] thecodeclimber commented on #40
@kirti75waytech

We still need to fix the `jsconfig.json` file.  Here is the current code:

[code]

But that won't work -- `styles` and `components` are in the `src` folder now.  We need something like this:

[code]

We should also add `utils` and pages to the `paths`.  So it should look like this:

[code]

Finally ,we should REMOVE `public` from the list.  So the final list should look like this:

[2020-12-23 16:24] thecodeclimber commented on #42
@kirti75waytech & @MaksymTaratuta55 -- I added a `review` label.  My recommendation is that after an issue has been coded that we should add the `review` label (and remove the `in progress` label) and reassign the issue to whowever needs to review it.  Please let me know if you agree.  Thanks.

[2020-12-23 16:29] thecodeclimber commented on #45
@kirti75waytech -- I decided to move the base `<div>` tag and just use a React fragment -- like this:

[code]

[2020-12-23 16:34] thecodeclimber commented on #39
@kirti75waytech -- two changes for the future when creating new branches:

1. Each issue should be its own branch.
For example, in the branch `40-refactoring-folder-structure` -- you included issues 39, 40, 42, 45, etc.  We should NOT do it that way.  Rather, 39 should be it's own branch, 40 a different branch, 42 yet another branch, etc.

1. Use a double dash `--` after the number.  For example,

[2020-12-23 16:39] MaksymTaratuta55 commented on #42
Sure. I also recommend making all merges with a pull request. It will be more comfortable for reviewers and it auto closes the merged branch.
@thecodeclimber, what do you think?

[2020-12-23 17:14] thecodeclimber commented on #58
@kirti75waytech -- yeah, i should have deleted this issue.  Thanks.

[2020-12-23 17:15] #58 closed

[2020-12-23 17:32] thecodeclimber commented on #39
@MaksymTaratuta55 -- is there a process for testing and quality assurance?

[2020-12-23 17:35] thecodeclimber commented on #41
Thanks.

[2020-12-23 17:35] #41 closed

[2020-12-23 17:36] thecodeclimber opened #63 "Analyze SRC/Pages folder"
@MaksymTaratuta55 -- can you please take a look at the `src/pages` folder and make sure that the organization, naming and file extensions are all correct.  If not, can you please create an issue (or issues) for kirti to fix.

Thanks.

[2020-12-23 17:40] thecodeclimber commented on #42
@MaksymTaratuta55 -- sounds fine to me.  Can I ask, though, what is the alternative to handling merges with a pull request?

[2020-12-23 17:41] #43 closed

[2020-12-23 17:43] thecodeclimber commented on #44
@kirti75waytech -- please add prettier with the configuration as detailed by Max above.

[2020-12-23 17:45] thecodeclimber commented on #46
@kirti75waytech -- please let me know where we are holding with this.

[2020-12-23 17:48] thecodeclimber commented on #47
Just to further clarify -- are you suggesting that we create two components in two different files `navbar` and `header`?  If so, can you please create new issues and assign them to kirti with instructions of what to do?  Thanks.

[2020-12-23 17:49] thecodeclimber commented on #48
@kirti75waytech -- can you please let me know where we are holding with this.

[2020-12-23 17:55] thecodeclimber commented on #51
@kirti75waytech -- what is the status of this?

[2020-12-23 17:55] thecodeclimber commented on #53
Okay - thanks.

[2020-12-23 17:55] #53 closed

[2020-12-23 17:57] thecodeclimber commented on #54
@MaksymTaratuta55 -- before we do this, should we not first set up `react-hook-form` and then see if this is even relevant?

[2020-12-23 17:59] thecodeclimber commented on #55
@MaksymTaratuta55 -- similar question -- should we set up `react-hook-form` first?

[2020-12-23 18:04] thecodeclimber commented on #60
@MaksymTaratuta55 -- yes.

[2020-12-23 18:04] thecodeclimber commented on #60
@MaksymTaratuta55 -- note, I have added the `Not Started` label.  Please change to `In Progress` when you get started.

[2020-12-23 18:07] thecodeclimber commented on #61
@MaksymTaratuta55 -- again, I am wondering if we should not first get `react-hook-form` set up and then see if these issues still exist.  Your thoughts?

[2020-12-23 18:08] thecodeclimber commented on #62
@kirti75waytech -- please implement this.  Thanks.

[2020-12-23 18:29] thecodeclimber opened #64 "Change Name of Contact-Us Folder"
Please change the name of `src/pages/contact-us` to `src/pages/contact`

Thanks.

[2020-12-23 18:30] thecodeclimber commented on #64
@kirti75waytech -- also, please change the `index.js` file within the `contact-us` folder to `Contact.jsx`.

All in all, this should be the path: `src/pages/contact/Contact.jsx`

[2020-12-23 23:40] thecodeclimber opened #65 "Using Labels"
Hi there,

I would like to start using labels inside of github issues as follows:

# Three types of issues:

* work
* bugs
* questions & answers

## Work Labels

* Not Started
* In Progress
* Waiting
* Review
* Done

### Explanation

* `Not Started` -- all new issues start off with the `Not Started` label.
* `In Progress` -- once we begin working on an issue we change the label from `Not Started`

[2020-12-23 23:40] thecodeclimber commented on #65
@MaksymTaratuta55 & @kirti75waytech -- please take a look at the above issue.

[2020-12-23 23:44] thecodeclimber commented on #65
@MaksymTaratuta55 & @kirti75waytech -- please note, sometimes when we change a label we will also need to reassign the issue.  For example, when changing a label to `Review` we will have to also assign the issue to whoever it is that does the review.

[2020-12-24 01:18] thecodeclimber commented on #39
@MaksymTaratuta55 -- I would like to suggest a slight modification to this system:

### Overall Structure

Here is a list of the different type of branches:

* `main` -- for production
* `develop` -- for development
* `release` -- for stable release versions
* `hotfix` -- to patch a production release
* `feature` -- for new features
* `issue` -- for branches related to issues

The `feature` branch

[2020-12-24 04:12] kirti75waytech commented on #39
@thecodeclimber I have created the single branch `40-refactoring-folder-structure` as you have suggested in the issue: #56.
Those issues were having similar tasks. So I created a single branch for them. But from now I will create separate branches for each issue, and follow the above structure as you have mentioned here.

[2020-12-24 04:14] kirti75waytech commented on #40
@thecodeclimber **Noted**

[2020-12-24 04:17] kirti75waytech commented on #42
@thecodeclimber Yes, It's good to have a review label.

[2020-12-24 04:17] kirti75waytech commented on #45
@thecodeclimber Noted this.

[2020-12-24 04:22] kirti75waytech commented on #64
@thecodeclimber  Noted this.

[2020-12-24 04:27] kirti75waytech commented on #36
@MaksymTaratuta55 When I am using .svg file, It gets blurry in mobile devices. Please suggest me to deal with it.

[2020-12-24 06:44] kirti75waytech commented on #40
Hi! @MaksymTaratuta55  and @thecodeclimber, I have created the MR [https://github.com/ramsayinnovations/ramsay-site/pull/66]#66 for this issue. Please review it and let me know If any changes are required.
Thanks

[2020-12-24 06:45] kirti75waytech commented on #40
Hi! @MaksymTaratuta55 and @thecodeclimber, I have created the MR #66 for this issue. Please review it and let me know If any changes are required.
Thanks

[2020-12-24 06:52] kirti75waytech commented on #39
@thecodeclimber and @MaksymTaratuta55 For your information. I am creating new branches for the other issues from `40-refactoring-folder-structure` as only this branch has the latest code. As soon It gets merge to the `develop` branch, I will start creating the new issue branches from the `develop` branch.
Please let me know, If I required to do anything else.
Thanks

[2020-12-24 06:57] kirti75waytech commented on #46
@thecodeclimber I have started working on this.

[2020-12-24 07:09] kirti75waytech commented on #65
@thecodeclimber It looks good to me. No changes are required from my side.

[2020-12-24 07:43] kirti75waytech commented on #64
@thecodeclimber  and @MaksymTaratuta55 I have updated the changes which were required, and created the MR #67.
Kindly review it and let me know If any changes are required.
Thanks

[2020-12-24 08:59] MaksymTaratuta55 commented on #36
@kirti75waytech, you use a .png image on mobile devices `"/img/main-logo-sm.png"`. Please change the image for mobile or use one SVG for all window sizes.
**/header/index.js**
[code]

[2020-12-24 09:09] MaksymTaratuta55 commented on #39
https://github.com/ramsayinnovations/ramsay-site/issues/39#issuecomment-750693826

@thecodeclimber, sorry, I think it will bring some complications and I think the better way is just to add these labels for issues or create some desk like trello. I think it is better to hold only 2 stable branches (main and develop) and we won't update every branch (issue, feature release and etc.) on every commit

[2020-12-24 09:12] MaksymTaratuta55 commented on #42
I think just make reviews manually 🙂

[2020-12-24 10:18] MaksymTaratuta55 commented on #47
@thecodeclimber, yes.
If it just header navbar you can create `./header/Header.jsx` and `./header/HeaderNavbar.jsx`

[2020-12-24 10:22] MaksymTaratuta55 opened #68 "Clean Header component"
Please separate Navbar and Header components.
`./header/Header.jsx`
`./header/HeaderNavbar.jsx` (if navbar doesn't use in other components)

[2020-12-24 10:23] MaksymTaratuta55 commented on #47
Created #68

[2020-12-24 10:26] MaksymTaratuta55 commented on #54
@thecodeclimber, yes, in this component. But if we have such cases in other components, they should be improved

[2020-12-24 10:28] MaksymTaratuta55 commented on #55
@thecodeclimber, yes we can set up react-hook-form first

[2020-12-24 11:01] kirti75waytech commented on #46
@MaksymTaratuta55 There are several files where we have constant data. So, as per this ticket, should I move them in the respective constant.js file. Or should I move all these type of constants in a single constant.js file?
For your reference I am providing you the list where we have such constant data :
- Footer.jsx,
- Header.jsx,
- RamsayAdvisor.jsx,
- RamsayCommitment.jsx,
- RamsayMethod.jsx,

[2020-12-24 11:50] kirti75waytech commented on #68
@MaksymTaratuta55 I have cleaned the header component, and created two different files Header.js and HeaderNavBar.js.
Please review it and let me know if any changes are required.
Thanks

[2020-12-24 12:10] kirti75waytech commented on #36
@MaksymTaratuta55 For your reference, I am sharing the screenshot of my earlier code from my last commit, where I have used a single .svg file for all the devices. But I was facing the blurry logo issue at that time too.
But If you want me to change the code again. So, I will do it too. Please let me know If I also need to push the code.
Thanks

![Screenshot 2020-12-24 at 10 59 50 PM](https://user

[2020-12-24 12:24] MaksymTaratuta55 commented on #61
@thecodeclimber, yes we can set up react-hook-form first

[2020-12-24 12:34] kirti75waytech commented on #52
@MaksymTaratuta55 should I also use react-hook-form for this issue? As the similar discussion was going on in issue: #55

[2020-12-24 12:41] MaksymTaratuta55 commented on #46
@kirti75waytech, no, I think a single constant.js file makes it difficult to read and find data when you need it.
You can create single constant.js in utils but use it for other purposes. These constants are component-level data, you need it only in current components. So I recommend to create it in the folder with component `./header/Header.constants.js` or just `./header/constants.js`

[2020-12-24 12:48] MaksymTaratuta55 commented on #36
@kirti75waytech, in your's third <img> you use `main-logo-sm.png`, and it looks blurry. So you should use SVG instead because SVG scales correctly

[2020-12-24 13:12] MaksymTaratuta55 commented on #52
@kirti75waytech, no, you should make a component with UI but without logic. It should receive needed props and that's all

[2020-12-24 13:14] kirti75waytech commented on #36
@MaksymTaratuta55 It seems there was some misunderstanding, What I tried to say, I coded in this way earlier:
`<img src="/img/main-logo.svg" alt="Logo" onClick={() => router.push('/')} className="object-contain cursor-pointer w-32 px-2 sm:w-40 lg:w-auto md:px-0" />`
which you are suggesting me, but it is also creating the blurry logo. I have created a branch for this issue: `issue/#36--fix-blurry-

[2020-12-24 13:16] MaksymTaratuta55 commented on #68
@kirti75waytech, I see when you assigned me to review PR, so could you please don't assign me on issues, in this case, it makes me harder to search for issues I need 🙂

[2020-12-24 13:17] MaksymTaratuta55 commented on #36
@kirti75waytech, ok, thx. I'll check

[2020-12-24 13:26] kirti75waytech commented on #39
Yes I agree with @MaksymTaratuta55 we should hold only 2 branches :
- main : for Production
- develop : for Development

rest of the branches will be based on `feature/#12--xyz-task-details` and `issue/#13--issue-details`

Please confirm if we are on the same page?
cc @thecodeclimber
Thanks

[2020-12-24 13:31] MaksymTaratuta55 commented on #36
<img width="447" alt="Screenshot 2020-12-24 at 15 30 27" src="https://user-images.githubusercontent.com/29330551/103091496-04880e80-45fd-11eb-96d5-db42ffca19e1.png">
@kirti75waytech, it seems everything ok now

[2020-12-24 15:16] MaksymTaratuta55 commented on #39
@thecodeclimber, @kirti75waytech could you please clarify why we should use "feature", "issue",... in a branch name too?

[2020-12-25 04:13] kirti75waytech commented on #36
Hi @MaksymTaratuta55, Yes, It also looks good to me. So, I am creating its PR.

[2020-12-25 05:08] kirti75waytech commented on #46
Okay @MaksymTaratuta55 Noted this point.

[2020-12-25 11:35] kirti75waytech commented on #52
@MaksymTaratuta55 @thecodeclimber I have resolved this story. Please review it. PR for this issue is #70.
Please let me know If any changes are required. Thanks

[2020-12-25 11:59] kirti75waytech commented on #46
@MaksymTaratuta55 @thecodeclimber I have resolved this issue and created the PR #71 for this issue. Under this issue I have made constant files for Testimonial, RamsayMethod, RamsayCommitment, RamsayAdvisor, Footer, Header and ContactUs component. Please review it and let me know if any changes are required.
Thanks

[2020-12-25 23:38] MaksymTaratuta55 commented on #36
@kirti75waytech, I don't see PR, could you please check?

[2020-12-26 03:56] kirti75waytech commented on #36
@MaksymTaratuta55 here is the PR #73 for this issue. Sorry for the delay.

[2020-12-26 04:22] kirti75waytech commented on #48
@thecodeclimber I was working on other issues. But now I have started working on this.

[2020-12-26 04:40] kirti75waytech commented on #39
@MaksymTaratuta55 I believe It could be better to distinguish between an `issue` which I mean a fix required in existing code while `feature` I meant a new code implementation. If it doesn't look necessary to keep `feature` and `issue` branches then we can follow the structure  which you have suggested earlier.

[2020-12-26 04:49] kirti75waytech commented on #39
@MaksymTaratuta55 We have now `develop` branch with the latest code. But I see there are some code which are not properly merged.
For Example: `HeaderNavBar.jsx` has `Header.constant.js` code while the same code is already present in the `Header.constant.js`. We need to fix it before we create any other branches from `develop` branch. Please create an Issue for this, So we can work on this fix.

[2020-12-26 06:31] kirti75waytech commented on #48
@MaksymTaratuta55 @thecodeclimber I have removed js functionality such as ` "window.addEventListener("resize", resize);"` & `handleMobileTabletNavBar()` etc. I have also created the PR #74 for this issue. Please review it and let me know If any other changes are required.
Thanks

[2020-12-26 07:24] MaksymTaratuta55 commented on #39
@kirti75waytech, yes there were some problems with rebase yesterday, and since the code was not written by me, I couldn't do it more properly. I think I fixed these problems in my PR #72. Could you please check it?

[2020-12-26 11:54] kirti75waytech commented on #62
@MaksymTaratuta55 @thecodeclimber I have Created a common ThankYouPage & ErrorResponsePage for `call-to-action` and `contact-us`. While separate FormLayouts I have created under their respective folders. I have created the PR #75 for this issue. Please review it and let me know if further modifications are needed.
Thanks

[2020-12-26 12:01] kirti75waytech commented on #39
@MaksymTaratuta55 I have reviewed the PR #72. It's looking good to me.

[2020-12-26 12:16] kirti75waytech commented on #51
@thecodeclimber I believe we have a code dependency on the PRs we have created as all of them aren't merged, especially PR #72. If it is possible that the PRs get merged soon. Then, I can start working on this issue from Monday.

[2020-12-27 21:44] thecodeclimber opened #76 "Next Link versus Next Router"
@kirti75waytech
@MaksymTaratuta55

I am wondering, why are we using `next/router` for the logo rather then `next/link`?  `next/router` is used more for dynamic links whereas `next/link` is used more for static pages -- as explained nicely in this video:  https://www.youtube.com/watch?v=ERUHYh_65F4

I.e., wouldn't this be better:

[code]

Currntly, this is what we have:

[code]

Your thoughts?

[2020-12-27 21:56] thecodeclimber commented on #39
@MaksymTaratuta55
@kirti75waytech

Thanks for all of your work on this.  I have accepted the PR #72 merge request.

In terms of `feature` and `issue`.  I also think it makes sense to differentiate between new features and fixing issues/problems.
 However, I am fine with whatever you two think we should do.

Please let me know what you decide and then we can close this issue :).

[2020-12-27 22:04] #40 closed

[2020-12-27 22:04] #45 closed

[2020-12-27 22:04] #46 closed

[2020-12-27 22:04] #49 closed

[2020-12-27 22:04] #50 closed

[2020-12-27 22:04] #56 closed

[2020-12-27 22:04] #57 closed

[2020-12-27 22:04] #59 closed

[2020-12-27 22:04] #63 closed

[2020-12-27 22:04] #64 closed

[2020-12-27 22:05] #68 closed

[2020-12-27 22:27] #42 closed

[2020-12-27 22:34] thecodeclimber commented on #44
@MaksymTaratuta55

What do you think about using one of the following:

* Standard.js:  https://standardjs.com/
* eslint-config-get-off-my-lawn with prettier: https://www.npmjs.com/package/eslint-config-get-off-my-lawn
* elsint-config-airbnb with prettier: https://www.npmjs.com/package/eslint-config-airbnb

The first one (standard) is a set it and forget it option.  The third option (airbnb) seems

[2020-12-27 22:41] thecodeclimber commented on #76
@kirti75waytech
@MaksymTaratuta55

Note, in general I think we should use `next/link` for all static page links and `next/router` for dynamic pages.  Your thoughts?

[2020-12-27 22:44] thecodeclimber commented on #51
@MaksymTaratuta55
@kirti75waytech

Now that i have merged PR #72, can you please advice how to proceed with this? Thanks :).

[2020-12-27 22:46] thecodeclimber commented on #55
@kirti75waytech
@MaksymTaratuta55

What is the statis of this now that we are using `react-hook-form`?  Should we close it?  Is there something left to do on this issue?

[2020-12-27 22:48] thecodeclimber commented on #54
@MaksymTaratuta55

can i close this issue?  Is there something left to be done?

[2020-12-27 22:50] thecodeclimber commented on #60
@MaksymTaratuta55

can i close this issue?

[2020-12-27 22:51] thecodeclimber commented on #61
@MaksymTaratuta55

can we now close this issue?  is there something else to do with it?

[2020-12-27 22:55] thecodeclimber commented on #65
@kirti75waytech

My guess is that we would just add the `question` label while keeping the `in progress` label.  We would then remove the `question` label when the advice has been given.  In terms of who we are asking the advice -- I would referencing them with the `@` in the comment field (rather then assign it to them).

[2020-12-27 22:55] thecodeclimber commented on #65
@MaksymTaratuta55
@kirti75waytech

If we all agree on this labeling system, should we add it to the Wiki section for future reference?

[2020-12-28 04:01] kirti75waytech commented on #51
@thecodeclimber I see the changes have already been done in the develop branch regarding this issue. Please check it and let me know, what other modifications are needed in this issue.
Thanks

[2020-12-28 08:29] MaksymTaratuta55 commented on #76
@thecodeclimber, yes, you are right. I was going to create a ticket about it today

[2020-12-28 08:35] MaksymTaratuta55 commented on #44
@thecodeclimber, I've already installed eslint with this config:
[code]
But I don't mind if you want to use airbnb elsint config

[2020-12-28 08:41] MaksymTaratuta55 commented on #51
@thecodeclimber, @kirti75waytech, I've created these components here. To use them you just need to import and add classes for styling. So I think we can close it.
<img width="304" alt="Screenshot 2020-12-28 at 10 39 11" src="https://user-images.githubusercontent.com/29330551/103201601-ee2dcb80-48f8-11eb-9c96-4cd5fe61bef3.png">

[2020-12-28 08:48] MaksymTaratuta55 commented on #54
@thecodeclimber, I think yes

[2020-12-28 08:49] MaksymTaratuta55 commented on #55
@thecodeclimber, yes, it's done

[2020-12-28 08:50] MaksymTaratuta55 commented on #60
@thecodeclimber, yes

[2020-12-28 08:51] MaksymTaratuta55 commented on #61
@MaksymTaratuta55, yes, from my side

[2020-12-28 08:55] MaksymTaratuta55 commented on #62
@kirti75waytech, sorry but I've already fixed it in #72. I thought you saw it when reviewing the PR

[2020-12-28 09:05] MaksymTaratuta55 commented on #65
@thecodeclimber, I think we can add it to the wiki https://github.com/ramsayinnovations/ramsay-site/wiki
Also, I think we can remove "Explain", "Satisified" and just use again "question" if need some more clarification or just remove "answer" and "question" if the answer is fine

[2020-12-28 09:44] kirti75waytech commented on #62
Hi @MaksymTaratuta55 Sorry, I completed this issue before reviewing your PR. So, what should we do now?

[2020-12-28 10:25] MaksymTaratuta55 commented on #62
@kirti75waytech, I prefer to leave my solution. Could you please check my code and UI? Does it work correctly? Or have you some comments?

[2020-12-28 10:34] MaksymTaratuta55 opened #77 "Google tag manager"
Here is the code for Google Tag Manager

Paste this code as high in the `<head>` of the page as possible:
[code]

Additionally, paste this code immediately after the opening `<body>` tag:
[code]

[2020-12-28 10:39] MaksymTaratuta55 opened #79 "Add 'Message' field to CallToAction form on the Home page"
Add large text box 'Message' under "Email" to CallToAction form on the Home page

[2020-12-28 10:51] kirti75waytech commented on #62
@MaksymTaratuta55 I have tested the UI, and below mentioned points I have observed.
1. When I submitted the empty form, the website started reloading.
2. Error messages only opened for the selected field when I hit on the respective field.
3. Asterisk is not present in the current UI. Please refer Figma designs.
4. For the ContactUs page, No error fields displayed. Please refer Figma designs for t

[2020-12-28 10:55] MaksymTaratuta55 commented on #62
@kirti75waytech, thank you. Could you please create a ticket and assign it to me?

[2020-12-28 13:04] kirti75waytech opened #81 "Task Assignment"
@MaksymTaratuta55 @thecodeclimber  I have resolved all the issues which you have assigned to me. Kindly assign me work for tomorrow and for this week. Thanks

[2020-12-28 13:16] kirti75waytech opened #83 "Call to Action and Contact Us Page Error Handling"
@MaksymTaratuta55 @thecodeclimber I have tested the current UI in the `develop` branch, and below mentioned points I have observed.

1. When I submitted the empty form, the website started reloading.
2. Error messages only opened for the selected field when I hit on the respective field.
3. Asterisk is not present in the current UI. As per the Figma designs.
4. For the ContactUs page, No error fie

[2020-12-28 13:20] kirti75waytech commented on #62
@MaksymTaratuta55 I have created issue #83 for this. But I would like to know the @thecodeclimber thoughts on this, before we proceed.

[2020-12-28 13:29] thecodeclimber commented on #77
@MaksymTaratuta55
@kirti75waytech

Before we insert this code, we need to determine the best way to implement Google Tag Manager on a Next.Js site.  I will try and look into this later today and give some further direction.

[2020-12-28 13:32] thecodeclimber commented on #65
@MaksymTaratuta55

I agree about `explain` and `satisfied`.  We'll just have `question` and `answered`.  We can then close anything labeled as `answered`.

[2020-12-28 13:33] thecodeclimber commented on #65
@MaksymTaratuta55

I agree about removing `explain` and am fine with removing `satisfied`.  My question is how do we single that a question has been properly answered and can be closed?

[2020-12-28 13:45] #61 closed

[2020-12-28 13:45] #60 closed

[2020-12-28 13:47] #55 closed

[2020-12-28 13:48] #54 closed

[2020-12-28 14:03] MaksymTaratuta55 commented on #77
@thecodeclimber, I think I found out the resolution.
![Uploading Screenshot 2020-12-28 at 16.01.30.png…]()
![Uploading Screenshot 2020-12-28 at 16.01.57.png…]()

[2020-12-28 14:06] MaksymTaratuta55 commented on #77
Something went wrong with images.
<img width="523" alt="Screenshot 2020-12-28 at 16 01 30" src="https://user-images.githubusercontent.com/29330551/103219485-87bfa200-4926-11eb-8377-48c055c554f2.png">

<img width="519" alt="Screenshot 2020-12-28 at 16 01 57" src="https://user-images.githubusercontent.com/29330551/103219495-8e4e1980-4926-11eb-889f-dc1776e74f9d.png">

[2020-12-28 14:10] MaksymTaratuta55 commented on #62
@kirti75waytech, thx

[2020-12-28 14:12] MaksymTaratuta55 commented on #83
@thecodeclimber, can I start with it?

[2020-12-28 14:22] MaksymTaratuta55 commented on #65
@thecodeclimber, I think if it is:
1) a question in a task:
 Answer -> remove label 'question -> add label 'answer' -> answer correct? ->
      -> yes -> the one who asked remove label ' answer' -> continue working
      -> no -> the one who asked remove label ' answer' -> ask again -> add label 'question'
2) just question issue (without task):
Answer -> remove label 'question -> add label 'answer

[2020-12-28 15:37] MaksymTaratuta55 opened #85 "Split ContactUs form by 2"
https://ramsayinnovationsllc.slack.com/archives/C01D97096KW/p1609168772042900

<img width="669" alt="Screenshot 2020-12-28 at 17 36 52" src="https://user-images.githubusercontent.com/29330551/103225722-47b2ec00-4933-11eb-930d-0e3fd41fe305.png">

[2020-12-28 15:44] MaksymTaratuta55 opened #86 "ContactUs form wrong fonts"
ContactUs form success and error block wrong fonts

[2020-12-28 16:24] thecodeclimber commented on #76
Great - thanks.

[2020-12-28 16:28] thecodeclimber commented on #65
Makes sense -- thanks.

[2020-12-28 16:28] #65 closed

[2020-12-28 16:29] thecodeclimber commented on #51
Well done -- thanks.

[2020-12-28 16:29] #51 closed

[2020-12-28 16:38] thecodeclimber commented on #39
@MaksymTaratuta55
@kirti75waytech

I'm going to close this issue.  If you think there is anything to add, please feel free to add it here and I can re-open it.

[2020-12-28 16:51] MaksymTaratuta55 commented on #39
+

[2020-12-28 16:56] thecodeclimber commented on #36
@kirti75waytech
@MaksymTaratuta55

I am closing this issue and continuing the conversation on PR #78

[2020-12-28 16:56] #36 closed

[2020-12-28 16:58] #39 closed

[2020-12-28 16:59] #47 closed

[2020-12-28 17:04] thecodeclimber commented on #48
@kirti75waytech
@MaksymTaratuta55

I am wondering about the closing of these types of issues.  I see that we have created PR #74 which has been successfully merged.  However, this issue still remains open.  What is the best procedure for dealing with BOTH the issue and the PR?  I would assume that once we merge the PR we should also close the issue.  Is that correct?

[2020-12-28 18:15] MaksymTaratuta55 commented on #48
@thecodeclimber, I think we can create a project with automated kanban desk https://github.com/ramsayinnovations/ramsay-site/projects

[2020-12-28 18:16] thecodeclimber commented on #65
Note: I have updated the Wiki with how to deal with `question` and `answer` labels.

[2020-12-28 18:57] MaksymTaratuta55 opened #88 "Tasks"
@thecodeclimber could you please check the tasks assigned to me and give me more tasks for tomorrow and this week?

[2020-12-28 19:06] thecodeclimber commented on #48
@MaksymTaratuta55

I think that's a really good idea.  Could you set it up?

[2020-12-28 19:18] thecodeclimber commented on #52
@MaksymTaratuta55
@kirti75waytech

Can we close this issue -- as it seems to have evolved into PR #60

[2020-12-28 19:20] MaksymTaratuta55 commented on #52
@thecodeclimber, I think yes and we should reject the PR for it

[2020-12-28 19:24] MaksymTaratuta55 commented on #48
@thecodeclimber, yes, I've created. I hope everything works. We need to test it

[2020-12-28 19:34] thecodeclimber commented on #48
@MaksymTaratuta55

Should we have one project for all issues or should we break it up into mini-projects?  Say a project for everything related to the Contact Form, another project related to General Issues, etc?  What are you thoughts?

[2020-12-28 19:46] thecodeclimber opened #89 "Not Every Issue Branch Starts with the Word "Issue""
@MaksymTaratuta55
@kirti75waytech

I notice that many of the branches start with a number:

![image](https://user-images.githubusercontent.com/65869221/103239363-efd9ac80-4955-11eb-8e10-15644a90f7b2.png)

I personally like the idea of starting a branch with either `issue` or `feature` as we discussed before and would like to go back to doing it that way.  I am wondering, though, is there a particu

[2020-12-28 20:07] thecodeclimber opened #90 "NODE_OPTIONS in Package.Json Scripts"
@kirti75waytech
@MaksymTaratuta55

This is a screenshot of the `package.json` file in the `develop` branch:

![image](https://user-images.githubusercontent.com/65869221/103240345-c53d2300-4958-11eb-8d21-2bcd4f251095.png)

I don't understand the `dev` script:

[code]

What is `NODE_OPTIONS='--INSPECT'` for?

[2020-12-28 20:16] thecodeclimber opened #91 "Perfecting the Develop Branch"
@kirti75waytech
@MaksymTaratuta55

I am going to go through the `develop` branch folder by folder and file by file and note any changes that I think we should make.  I think we need to get the `develop` branch down right and then start to work on these other issues.

Also, I just want to make sure that in the future all `feature` or `issue` branches are created by making a branch of the `develop`

[2020-12-28 20:17] thecodeclimber commented on #91
Note, I have created a new label:  `announcement`.

[2020-12-28 20:31] thecodeclimber opened #92 "Create Clone of Develop Branch"
Please create a clone of the `develop` branch that we can work on.  When it is finished we will replace the current `develop` with the fixed up cloned version.

We can name the new branch `develop--clone`

[2020-12-28 21:07] thecodeclimber opened #93 "tailwind.config.js fixes"
Please make the following changes to the `tailwind.config.js` file in the  `develop--clone` branch.

# Delete

Please delete the following sub-sections.  We will use the built-in tailwind css options -- if there is not an exact built-in tailwind css option then we will use the closest option available.

* `theme/screens`
* `theme/container` (including the `padding` section)
* `theme/borderRadius`

[2020-12-28 21:36] thecodeclimber opened #94 "postcss.config.js fixes"
Please do this after you take care of issue #105.

Let's update our postcss.config.js file in the `develop--clone` branch to look like it does in the [tailwind css installation guide](https://tailwindcss.com/docs/guides/nextjs#create-your-configuration-files):

[code]

If we notice that this causes problems we will fix them as they come up.

[2020-12-28 21:42] thecodeclimber opened #95 "package.json fixes"
Please make the following changes to the `package.json` file in the `develop--clone` branch.

# Scripts

* Fix `dev`:  it should simply be `next dev`
* Remove `formspree`

# Dependencies

* uninstall `next-optimized-images`
* uninstall `postcss-flexbugs-fixes`

[2020-12-28 21:47] thecodeclimber opened #96 "remove formspree.json from develop--clone branch"
Please remove the `formspree.json` file from the `develop--clone` branch.

I am referring to this file: https://github.com/ramsayinnovations/ramsay-site/blob/develop/formspree.json

[2020-12-28 21:51] thecodeclimber opened #97 "Advice on the .vscode folder"
@kirti75waytech
@MaksymTaratuta55

Currently we have a `.vscode` folder in the repository.

Do we need this folder?

If yes, how should we use it?
If not, we should delete it & add it to the `.gitignore` file in the `develop--clone` branch.

[2020-12-28 22:26] thecodeclimber opened #98 "Organizing Elements Folder"
@MaksymTaratuta55
@kirti75waytech

I think I would like to organize a bit the `components/elements` folder (as I am finding it a bit cluttered with all the different types of curve, line & pattern components).  I have two ideas of how to do so:

* sub-folders
* grouped file

# Sub-Folders

The first idea has to do with creating sub-folders for components that have many variations.  For example:

*

[2020-12-28 23:21] thecodeclimber opened #99 "Create Universal Curve Component"
Please create a singluar curve component in the `develop--clone` branch to replace the following components:

* BottomCurve
* FooterCurve
* MobileLowerCurve
* TopCurve

This component would accept props to indicate color, direction, etc.  Here are the relevant differences between different uses of the component:

* SVG Path
* Top or Bottom
* Inverted or Not
* Height
* Width
* Fill Color

Height (a

[2020-12-28 23:23] thecodeclimber opened #100 "Clarification about the HorizontalDivider Component"
@MaksymTaratuta55
@kirti75waytech

What does the `HorizontalDivider` component look like and where do we use it?

I am talking about this component:  https://github.com/ramsayinnovations/ramsay-site/blob/develop/src/components/elements/HorizontalDivider.jsx

[2020-12-28 23:24] thecodeclimber opened #101 "Naming Convention for Images"
Let's use a BEM type system for image names in the `develop--clone` branch.  As such, please make the following changes both in the `public/img` folder and where ever those images are being used:

* `call-to-action-left-pattern.svg` --> `pattern__cta--left.svg`
* `contact-us-left-side-pattern.svg` --> `pattern__contact--left.svg`
* `call-to-action-right-pattern-sm.svg` --> `pattern__cta--right-sm.

[2020-12-28 23:28] thecodeclimber opened #102 "Universal Pattern Component"
Let's create a single, universal pattern component in the `develop--clone` branch.  This component would replace the following components:

- LeftCurveLines.jsx
- LeftPattern.jsx
- MobileRightCurveLines.jsx
- RightCurveLines.jsx
- RightPattern.jsx

All of these components have the same exact structure -- namely:

[code]

We could easily create one, single component which takes a `classes` and `img

[2020-12-28 23:29] thecodeclimber commented on #98
@kirti75waytech
@MaksymTaratuta55

I am closing this issue for now as I think that this problem is solved by #99 and #102.

[2020-12-28 23:29] #98 closed

[2020-12-28 23:34] thecodeclimber opened #103 "Move the form folder"
Please move the `components/form` folder to `components/elements/form` in the `develop--clone` branch.  After all, the `InputTextForm`, `SelectForm` & `TextareaForm` components are simply `element` components.

That is, unless you are @MaksymTaratuta55 think this is a bad idea (if so, please let me know why).

[2020-12-28 23:40] thecodeclimber opened #104 "Rename Form Element Components"
In the `develop--clone` branch please rename the [form components](https://github.com/ramsayinnovations/ramsay-site/tree/develop/src/components/form) as follows:

* InputTextForm --> Input
* SelectForm --> Select
* TextareaForm --> TextArea

Please rename the file to match the new component name (i.e., `Input.jsx`, `Select.jsx`, `TextArea.jsx`)

**Note:** If you already moved the form components,

[2020-12-29 00:03] thecodeclimber opened #105 "Update Tailwind CSS"
Please update tailwind to the latest version (I believe it is version 2.02) on the `develop--clone` branch.  Note, there will be some breaking changes since it is a major release.  We will fix those as they come up.

* Upgrade Guide:  https://tailwindcss.com/docs/upgrading-to-v2
* Next.JS Installation Guide:  https://tailwindcss.com/docs/guides/nextjs

[2020-12-29 03:41] kirti75waytech commented on #52
@thecodeclimber Yes I agree with @MaksymTaratuta55

[2020-12-29 03:47] kirti75waytech commented on #91
@thecodeclimber Noted the above points.

[2020-12-29 04:08] kirti75waytech commented on #92
@thecodeclimber Created the `develop--clone` branch.

[2020-12-29 04:20] kirti75waytech commented on #93
@thecodeclimber We had a use of zIndex -10 in the Hero section because there we had lots of images and need to handle them with zIndex. But then we changed our design. Now it is not needed, I can delete it from here.

[2020-12-29 04:25] kirti75waytech commented on #93
@thecodeclimber It will create complications if we delete all of them. Some of the custom properties we would require to handle curve images, especially :

Please let me know your suggestions on this. Thanks

[2020-12-29 04:32] kirti75waytech commented on #93
@thecodeclimber Do I need to create an issue branch for this and then create PR of this branch which could merge to `develop--clone` branch?
Or Do I need to do the changes in the `develop--clone` branch and push it to `develop--clone` branch after resolving this issue?

[2020-12-29 10:24] MaksymTaratuta55 commented on #90
@thecodeclimber, it is for debugging https://nodejs.org/en/docs/guides/debugging-getting-started/

[2020-12-29 10:27] MaksymTaratuta55 commented on #89
@thecodeclimber, ok, I'll name new branches with labels

[2020-12-29 10:31] MaksymTaratuta55 commented on #97
@thecodeclimber, no, I'll do it

[2020-12-29 10:33] thecodeclimber commented on #90
okay.  However, it seems to be causing problems for me:

[code]

I am running node version 12.16.3 and npm version 6.14.4.

If I remove that line then next starts up just fine.

Any ideas what the issue is?

[2020-12-29 10:34] MaksymTaratuta55 commented on #100
It seems it is this line in the middle:
<img width="738" alt="Screenshot 2020-12-29 at 12 32 42" src="https://user-images.githubusercontent.com/29330551/103277574-09203e80-49d2-11eb-8161-c43f78ec7b1b.png">

It has been used before, so I just create a separate component for it.

[2020-12-29 10:42] MaksymTaratuta55 commented on #103
@kirti75waytech, @thecodeclimber, I think the better way is to leave it how it is now.
My logic is:
- we have form components: input, textarea, select, etc... So these components should be in the folder 'form'.
- And as it is a form components folder 'form' should be in the folder "components".
- Components that do not belong to anything could be in the folder './components/elements'
- Layout comp

[2020-12-29 10:47] thecodeclimber commented on #93
@kirti75waytech

For now please delete them.  We will be making other major changes and will deal with any complications that come up after we have made all of the changes.

I think for now you can do the changes in the `develop--clone` branch and push them there.  If need be, I'll create another issue to deal with any future changes that need to be made.

[2020-12-29 10:51] MaksymTaratuta55 commented on #85
@moshemo, could you please give me technical requirements?

[2020-12-29 10:54] thecodeclimber commented on #93
@kirti75waytech

We need to update `theme/fontFamily` in `tailwind.config.js` file.

1. Delete poppins
2. Change the code as follows

[code]

3. Update any occurrences of `font-poppins` anywhere in the `develop--clone` branch to `font-sans`.

[2020-12-29 11:44] thecodeclimber commented on #86
@MaksymTaratuta55

This should be solved in the changes we are making in the `develop--clone` branch.

[2020-12-29 12:49] thecodeclimber opened #112 "Create Button Component"
I would like to create a `Button` component within the `components/elements` folder in the `develop--clone` branch.

The `Button` component should be based off of the tailwind ui buttons:  https://tailwindui.com/components/application-ui/elements/buttons

We currently have four buttons on the site:

### 1
![image](https://user-images.githubusercontent.com/65869221/103284593-51485c80-49e4-11eb-93b6

[2020-12-29 13:02] kirti75waytech commented on #93
@thecodeclimber noted the above points. I will update them in the `develop--clone` branch.

[2020-12-29 13:13] #97 closed

[2020-12-29 13:30] MaksymTaratuta55 commented on #86
@thecodeclimber, updated

[2020-12-29 13:48] thecodeclimber opened #115 "Redo Header Components"
I would like to redo the `Header` components in the `develop--clone` branch using tailwind ui as a base for our code:  https://tailwindui.com/components/marketing/elements/headers

I want to use Simple Links Centered version

![image](https://user-images.githubusercontent.com/65869221/103287003-15b09100-49ea-11eb-91ec-ee15f01a1046.png)

https://www.loom.com/share/1af3b0befa084f0cada5015ed5aa4bce

[2020-12-29 13:55] #86 closed

[2020-12-29 13:56] thecodeclimber commented on #93
Great -- thanks.

[2020-12-29 14:06] thecodeclimber commented on #103
@MaksymTaratuta55
@kirti75waytech

Okay, we will keep it as it is for now.  If need be, we can revisit the issue in the future.

[2020-12-29 14:06] #103 closed

[2020-12-29 14:10] thecodeclimber commented on #100
@MaksymTaratuta55

Great - thanks

[2020-12-29 14:10] #100 closed

[2020-12-29 14:11] thecodeclimber commented on #89
Thanks

[2020-12-29 14:11] #89 closed

[2020-12-29 14:13] thecodeclimber commented on #77
@MaksymTaratuta55

I'm not sure if you saw this comment in the PR, so I am reposting it here:

I think we have to modify this further. Here is the official next.js example: https://github.com/vercel/next.js/tree/canary/examples/with-google-tag-manager

They do it differently -- and I think we should follow their lead. I did a little research and there can be an issue with Google Tag Manager loadin

[2020-12-29 14:14] thecodeclimber commented on #92
Thanks.

[2020-12-29 14:14] #92 closed

[2020-12-29 14:15] thecodeclimber commented on #91
Great.

[2020-12-29 14:15] #91 closed

[2020-12-29 14:16] #52 closed

[2020-12-29 14:19] thecodeclimber commented on #88
@MaksymTaratuta55

Of course.

[2020-12-29 14:19] #88 closed

[2020-12-29 18:50] thecodeclimber opened #116 "Form Changes"
**NOTE:** I do NOT want to start this issue yet.  I am posting it for later for when I am ready to deal with it.

# Form Spacing

We need to fix the spacing on the form fields to look like this:  https://www.figma.com/file/w1Qm5ofwF3DA1lAfjYsbLG/Ramsay-Innovations-Copy?node-id=6243%3A6287

# Button Color on Error Message

Change the button color to look like this:  https://www.figma.com/file/w1Qm5

[2020-12-29 19:08] MaksymTaratuta55 opened #118 "Refactor google tag manager"
https://github.com/ramsayinnovations/ramsay-site/issues/77#issuecomment-752090211

[2020-12-30 10:33] kirti75waytech commented on #93
@thecodeclimber @MaksymTaratuta55  I have created a PR #120  for this issue. Kindly review and let me know if any modification is needed in this issue. Thanks

[2020-12-30 10:56] kirti75waytech commented on #95
@thecodeclimber I have updated the all the above changes. But I didn't find `dex` in my code. I have created PR #121 for this issue. Please review it and let me know if any other modification we needed in this issue.
Thanks

[2020-12-30 11:14] kirti75waytech commented on #96
@thecodeclimber @MaksymTaratuta55 I have resolved this issue. I didn't create any new branch for this issue because there were nothing to compare in the `develop--clone` branch. Hence PR can't be created for this. Instead I pushed the code on `develop--clone` branch.

[2020-12-30 11:28] kirti75waytech commented on #99
@thecodeclimber I will create common file for this, as you have suggested. But @MaksymTaratuta55 if we use .svg file. I observed that at some breakpoints, position of the .svg looks improper as we have only few screen breakpoints. I would like to know your suggestions on this, Please. How can we handle such improperness of the .svg file?
Thanks

[2020-12-30 11:32] kirti75waytech commented on #99
@MaksymTaratuta55 I would also like to put this statement into your consideration, that we were handling this improperness of the .svg file by using positions along with custom screen breakpoints in tailwind.config.js file. But Now I have removed those breakpoints in issue #93. We aren't able to handle them with this. So, we have to use another approach for this.

[2020-12-30 13:25] kirti75waytech commented on #101
@thecodeclimber @MaksymTaratuta55 I have resolved this issue and created its PR #122. I have renamed all the images as per BEM style given above. Please review it and let me if any modifications required.
Thanks

[2020-12-30 14:05] #101 closed

[2020-12-30 14:09] thecodeclimber commented on #99
@kirti75waytech

For now, let's not worry about the placement of svg files on smaller screen sizes.  We will deal with that later on.  For now, I just want to create the universal cruve component.

Thanks.

[2020-12-30 14:11] thecodeclimber commented on #96
@kirti75waytech

okay - thanks.

[2020-12-30 14:11] #96 closed

[2020-12-30 14:14] thecodeclimber commented on #95
@kirti75waytech

`dex` was a typo.  I meant to type `dev`.  With that said, let's leave it for now as we may want to keep it as it is.  I will open up another issue if we need to change it.

[2020-12-30 14:14] #95 closed

[2020-12-30 14:16] thecodeclimber opened #123 "Use Next.JS built in image optimization"
**NOTE:** I do NOT want to start this yet.  I am creating this issue as a placeholder for when we are ready to implement it.

Use next.js built in image optimization:  https://nextjs.org/docs/basic-features/image-optimization

[2020-12-30 14:19] thecodeclimber opened #124 "Use next.js built in image optimization"
**NOTE:** I do NOT want to start this yet.  I am creating this issue as a placeholder for when we are ready to implement it.

Use next.js built in image optimization:  https://nextjs.org/docs/basic-features/image-optimization

[2020-12-30 14:19] #124 closed

[2020-12-30 16:58] #77 closed

[2020-12-30 17:25] thecodeclimber commented on #112
@MaksymTaratuta55

What is the point of `isCustomDisplay`?  I.e., when would we use it and when would we not use it?

[2020-12-30 19:00] thecodeclimber opened #126 "Create GoogleTagManager Component"
Please create the following component in the `components` folder:  https://github.com/vercel/next.js/blob/canary/examples/with-google-tag-manager/components/GoogleTagManager.js

This should be done in the `develop--clone` branch

[2020-12-30 19:02] thecodeclimber opened #127 "Created Priority Label"
@MaksymTaratuta55
@kirti75waytech

I have created a new `Priority` label.  Items with this label should be handled first.

[2020-12-30 19:08] thecodeclimber opened #128 "Use GoogleTagManager Component in _app.js"
Please note how the `GoogleTagManager` component is used here:  https://github.com/vercel/next.js/blob/canary/examples/with-google-tag-manager/pages/_app.js

We also need to wrap `<Component {...pageProps} />` in `_app.jsx` with the `GoogleTagManager` component (this should be done in the `develop--clone` branch)

**Note:** this issue needs to be done after we take care of issue #126.

[2020-12-30 20:13] thecodeclimber opened #129 "Update New Header Compontents"
Update the new Header components to look like the design in the current, live site:  https://ramsayinnovations.com/

# Current

![image](https://user-images.githubusercontent.com/65869221/103378764-221d1280-4aec-11eb-88be-fd0035191737.png)

* Logo too small
* Need to add container padding
* Font Size & font weight of menu items

[2020-12-31 03:44] kirti75waytech commented on #99
@thecodeclimber Okay, I will update the required changes and create a common file here.

[2020-12-31 10:54] kirti75waytech commented on #104
@thecodeclimber @MaksymTaratuta55 I have renamed the form component and their respective imports used in the project. Please review the PR #130 for this issue and let me know if any other modification is needed.
Thanks

[2021-01-01 09:38] kirti75waytech commented on #99
@MaksymTaratuta55 @thecodeclimber I have resolved this issue and created its PR #131. Please review it and let me know if any modifications are required.
Thanks

[2021-01-01 10:35] kirti75waytech commented on #102
@MaksymTaratuta55 @thecodeclimber I have resolved this issue and created its PR #132. Please review it and let me know if any changes are required.
Thanks

[2021-01-01 10:39] #81 closed

[2021-01-01 10:42] kirti75waytech opened #133 "Task"
@thecodeclimber @MaksymTaratuta55 I have completed all the tickets assigned to me. Please assign me more task for the next week.
Thanks

[2021-01-04 02:31] thecodeclimber commented on #129
@MaksymTaratuta55

Please take a look at branch `issue/#129--update-new-header-component` that I just created:  https://github.com/ramsayinnovations/ramsay-site/tree/issue/%23129--update-new-header-component

In particular, at the following:

* https://github.com/ramsayinnovations/ramsay-site/tree/issue/%23129--update-new-header-component/src/components/elements/navbar

* https://github.com/ramsay

[2021-01-04 07:24] kirti75waytech commented on #133
@thecodeclimber @MaksymTaratuta55  I created the PR for the issues assigned to me last week. Please, review them and let me know if any changes are required. If all looks I request you to merge them. And please assign new tasks for this week. Thanks

[2021-01-04 08:47] MaksymTaratuta55 commented on #48
@thecodeclimber, I think no, one project is enough for us

[2021-01-04 08:49] MaksymTaratuta55 commented on #112
@thecodeclimber it is for changing default display class to inline, flex, etc

[2021-01-04 11:34] #126 closed

[2021-01-04 11:36] #127 closed

[2021-01-04 11:41] #104 closed

[2021-01-04 11:42] #93 closed

[2021-01-04 11:52] MaksymTaratuta55 opened #136 "Workflow"
1. We should add "ramsay-project" to each task to automatically adding it to the project dashboard.
<img width="428" alt="Screenshot 2021-01-04 at 13 48 01" src="https://user-images.githubusercontent.com/29330551/103532204-7e3cb980-4e93-11eb-97e7-a57f0f6c4c9c.png">

2. We should add "Closes #IssueNumber" (example `Closes #12`) in the description of each pull request to automatically close the issu

[2021-01-04 12:40] thecodeclimber commented on #128
@MaksymTaratuta55

Once we get Google Tag Manager working - what is the quickest path to integrate into the main branch.  My brother wants it up and running as soon as possible.

[2021-01-04 14:32] thecodeclimber commented on #136
@MaksymTaratuta55

Let's create a `develop--clone` project and then use the `develop--clone` label as you described above.  In other words, I would like to break this up into sub-projects -- and the first sub project I want to work on is getting the `develop--clone` finished.

Thanks.

[2021-01-04 17:06] thecodeclimber commented on #133
@kirti75waytech

Thanks -- I will assign more tasks as soon as I can.

[2021-01-04 17:11] #112 closed

[2021-01-04 17:16] #105 closed

[2021-01-04 17:22] #94 closed

[2021-01-04 17:24] thecodeclimber commented on #90
Can you please take a look at this question and advice on how to proceed:

[2021-01-04 17:27] thecodeclimber commented on #48
@MaksymTaratuta55

For me personally, I would like to break this up into sub-projects.  For example, for now I would like two projects:

1. One project for the `develop--clone` branch
2. Another for everything else.

[2021-01-04 17:27] MaksymTaratuta55 commented on #136
@thecodeclimber, but what will be when we merge develop--clone into develop and then into master?

[2021-01-04 17:27] #44 closed

[2021-01-04 17:29] thecodeclimber commented on #136
@MaksymTaratuta55

The goal is to REPLACE the `develop` branch with the `develop--clone` branch once we have finished the `develop--clone` branch.

[2021-01-05 13:10] kirti75waytech commented on #102
@thecodeclimber I have resolved the conflicts for the PR #132. Please review it.

[2021-01-05 13:10] kirti75waytech commented on #99
@thecodeclimber I have resolved the conflicts for the PR #131. Please review it.

[2021-01-05 13:11] kirti75waytech commented on #133
@thecodeclimber Thanks

[2021-01-05 13:15] MaksymTaratuta55 commented on #90
@thecodeclimber, everything is good for me. You can try to use just `--inspect` without `NODE_OPTIONS`. Or you can try to delete package-lock and node_modules and make `npm i`

[2021-01-05 16:38] #133 closed

[2021-01-05 22:22] MaksymTaratuta55 opened #137 "hookform/resolvers/yup bug"
I have found out a bug with @hookform/resolvers/yup. I delete `.next`, `node_modules` folders, and yarn.lock file, then I run `yarn` to install packages, and then I received this message.
<img width="893" alt="Screenshot 2021-01-06 at 00 15 30" src="https://user-images.githubusercontent.com/29330551/103706041-ca334f80-4fb4-11eb-8a79-765a1088296f.png">

I repeat it in the develop--clone branch and

[2021-01-05 22:23] MaksymTaratuta55 commented on #129
Blocked by #137

[2021-01-05 22:50] MaksymTaratuta55 opened #138 "New tasks"
@thecodeclimber, could you please assign new tasks for me?

[2021-01-06 03:18] thecodeclimber opened #139 "Update Image Names"
Update image names so that words are properly spelled out.

For example, `/img/pattern__about--right.svg` instead of `/img/pattern__abt--right.svg`.

[2021-01-06 03:49] kirti75waytech commented on #137
Okay @MaksymTaratuta55 Let me check.

[2021-01-06 03:53] #102 closed

[2021-01-06 08:50] MaksymTaratuta55 commented on #137
@kirti75waytech, @thecodeclimber, I've solved the problem. It was with `"@hookform/resolvers": "1.3.2",` package.  To fix it I installed `"@hookform/resolvers": "1.3.0",`

[2021-01-06 08:58] kirti75waytech commented on #137
@MaksymTaratuta55 Have you updated the `develop--clone` branch?

[2021-01-06 08:59] kirti75waytech commented on #137
@MaksymTaratuta55 Have you updated the `develop--clone` branch?

[2021-01-07 00:37] #137 closed

[2021-01-07 00:38] #136 closed

[2021-01-07 00:53] thecodeclimber commented on #129
@MaksymTaratuta55

eslint is giving me a number of errors.  Can you please fix them?  Thanks.

[2021-01-07 03:41] kirti75waytech opened #141 "Task Assignment"
@thecodeclimber Please, assign me task for today and for this week.
Thanks

[2021-01-11 08:51] MaksymTaratuta55 commented on #129
@thecodeclimber, could you please give me a screen? I haven't any errors

[2021-01-11 09:51] MaksymTaratuta55 opened #142 "Create Topography compnent"
Create a common component for all type of text tags (h1..h6, span, p) with props `className`, `component` (=== "span", etc), `children` and default value is `p`;

[2021-01-11 10:07] MaksymTaratuta55 opened #143 "Create Video component"
Create a common Video component with `div` wrapper and props: `src`, `controls`, `autoplay`, etc. Video is paused by default and able to be paused at any moment.

[2021-01-11 10:18] MaksymTaratuta55 opened #144 "Refactor Hero component"
Use the "With sign up and media content" Tailwind UI Hero section:  https://tailwindui.com/components/marketing/sections/heroes

New Hero component should use common components for texts (Typography component), for video (Video component).

Input, button, "Sign up to get notified when it’s ready" and "We care about the protection of your data. Read our Privacy Policy." should be in the own indepen

[2021-01-11 10:19] MaksymTaratuta55 commented on #144
It is blocked by #142, #143

[2021-01-11 12:22] kirti75waytech commented on #143
@MaksymTaratuta55 Do I need to complete this ticket?

[2021-01-11 12:28] MaksymTaratuta55 commented on #143
@kirti75waytech, sorry I haven't had tasks and noticed that you didn't change the status, so I took it for myself. But You can start #144 if you want. But you shouldn't implement Typography and Video components, just wait for merges for them

[2021-01-11 12:51] MaksymTaratuta55 commented on #144
Waiting for merge PRs #145 #146

[2021-01-11 12:52] kirti75waytech commented on #143
Okay @MaksymTaratuta55 I will do #144 issue, when #142 and #143 will be merged.

[2021-01-11 12:55] MaksymTaratuta55 commented on #143
@kirti75waytech, you can start to refactor the layout now and after merges put needed components into the right places in your layout

[2021-01-11 13:05] kirti75waytech commented on #143
Okay @MaksymTaratuta55, sure.

[2021-01-12 07:47] MaksymTaratuta55 opened #147 "Fix eslint errors"

[2021-01-12 08:42] kirti75waytech commented on #144
@MaksymTaratuta55 Can you give me a brief on this issue?

[2021-01-12 09:01] MaksymTaratuta55 commented on #144
@kirti75waytech, sure. You need to refactor Hero.jsx to be like "With sign up and media content" Tailwind UI Hero section: https://tailwindui.com/components/marketing/sections/heroes
<img width="1416" alt="Screenshot 2021-01-12 at 10 58 36" src="https://user-images.githubusercontent.com/29330551/104292302-5669d900-54c5-11eb-8124-8cc50066101a.png">
Moshe told: "Do NOT worry about styling the Hero s

[2021-01-12 09:47] kirti75waytech commented on #144
Okay @MaksymTaratuta55 I got it. Please confirm this, Do I also need to remove/hide the present `Hero` component?
![Uploading Screenshot 2021-01-12 at 8.43.09 PM.png…]()

[2021-01-12 09:54] MaksymTaratuta55 commented on #144
Yes, but I think texts should be ours. @thecodeclimber does it right?

[2021-01-12 09:58] kirti75waytech commented on #144
Okay @MaksymTaratuta55

[2021-01-13 06:18] kirti75waytech commented on #144
@MaksymTaratuta55 I have refactored the code and almost completed the task. The remaining task depends on #146 PR. As soon it get merged. I'll complete it.

[2021-01-13 12:11] thecodeclimber opened #149 "Fix Problem with Twin.macro"
@MaksymTaratuta55

Hello Max,

I am trying to install Twin.macro in order to help us with the creation of the Tailwind UI components.  To that extent, I created a new branch called `feature/add-twin-macro`:  https://github.com/ramsayinnovations/ramsay-site/tree/feature/add-twin-macro

However, there is one aspect that is not working well (which plays out in particular with the `Pattern` component

[2021-01-13 13:29] MaksymTaratuta55 commented on #149
@thecodeclimber, could you please try these changes?
<img width="1101" alt="Screenshot 2021-01-13 at 15 27 41" src="https://user-images.githubusercontent.com/29330551/104458427-0b7abf00-55b4-11eb-9977-ad4bdf91cec2.png">
<img width="1084" alt="Screenshot 2021-01-13 at 15 28 26" src="https://user-images.githubusercontent.com/29330551/104458438-0ddd1900-55b4-11eb-81d0-088552b523f1.png">

[2021-01-13 18:33] thecodeclimber commented on #149
@MaksymTaratuta55 That did it -- thanks.

[2021-01-14 04:39] thecodeclimber commented on #149
@MaksymTaratuta55

There is another "issue" with twin.macro that I need to work out.  For example, take a look at this code:

[code]

This works.  I want to do something similar to the following code:

[code]

That is to say, I want to replace `cn(...)` with twin.macro's `css` prop.  However, I can't figure out how to do since it is nested within the `classes` object.  Can you please advice?

Than

[2021-01-14 07:47] MaksymTaratuta55 commented on #149
It seems you can't use classnames package with twin.macro https://github.com/ben-rogerson/twin.macro/discussions/270.

But you can try to use this approach:
<img width="1440" alt="Screenshot 2021-01-14 at 09 44 10" src="https://user-images.githubusercontent.com/29330551/104559749-880dac00-564d-11eb-86c4-eadf41573e26.png">
<img width="1077" alt="Screenshot 2021-01-14 at 09 47 20" src="https://user-

[2021-01-14 08:50] thecodeclimber commented on #149
@MaksymTaratuta55

Yeah, at the end of the day, I believe that Twin.macro will be a replacement for classnames.

In terms of your solution, did you test it out?  Because as far as I understand it won't work because there are no conditional styles using the `tw` prop.  I believe we have to use the `css` prop instead -- see here:  https://github.com/ben-rogerson/twin.macro/blob/d25b984a6f713ed96173e

[2021-01-14 09:16] MaksymTaratuta55 commented on #149
@thecodeclimber, yes I've checked. It is working.

Yes, it is a shorthand for `classes && classes.wrapper`. It calls optional chaining.
https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Operators/Optional_chaining

[2021-01-14 10:21] thecodeclimber commented on #149
@MaksymTaratuta55

Thanks -- that is a great new feature.

On a different note, I am receiving the following warning message:

[code]

Do you know what this is about and how to fix it?

[2021-01-14 11:12] MaksymTaratuta55 commented on #149
@thecodeclimber, to fix this you should change PropType for classes
<img width="994" alt="Screenshot 2021-01-14 at 13 11 36" src="https://user-images.githubusercontent.com/29330551/104583713-2576d900-566a-11eb-8663-34a5e1fb463e.png">

[2021-01-14 11:30] thecodeclimber commented on #149
Thanks - that fixed it.

[2021-01-14 14:00] #149 closed

[2021-01-14 15:15] thecodeclimber opened #151 "Update Button Component"
Update the button component for use with Twin.macro and (if possible) a theme config file.

[2021-01-17 21:25] thecodeclimber commented on #151
@MaksymTaratuta55

Here is my vision for the `Button` component.

First I would like to create a `theme.js` file that will look something like this:

[code]

Secondly, I would like to rework the Button.jsx file to something like this:

[code]

Now I know this won't work -- it has to be fixed so that it will work with Twin.macro.  Also, I am wondering if we can make the Button component file a bit

[2021-01-18 10:36] thecodeclimber commented on #151
@MaksymTaratuta55

I have just created a new repository called Ramsay UI:  https://github.com/ramsayinnovations/ramsay-ui

Can you please take the Button component and theme.js file that I referenced above and move it over to that repository.  What I would like to do is build out the tailwind-ui components in Ramsay UI and then import that library into this repository.  We would then modify the `t

[2021-01-18 14:29] MaksymTaratuta55 commented on #151
@thecodeclimber, I've created a PR https://github.com/ramsayinnovations/ramsay-ui/pull/1. Could you please check it?

[2021-01-19 04:31] kirti75waytech commented on #141
@thecodeclimber @MaksymTaratuta55 Please assign me any task.

[2021-02-02 21:44] #141 closed

[2021-02-03 17:41] thecodeclimber commented on #151
@MaksymTaratuta55

I think we can close this since we have dealt with it in Ramsay UI.  If so, please close it.  Also, please do the same with any other component that we transferred to Ramsay UI.

[2021-02-04 12:37] #151 closed

[2021-02-04 12:37] #147 closed

[2021-02-04 12:38] #143 closed

[2021-02-04 12:38] #142 closed

[2021-02-04 12:38] #138 closed

[2021-02-04 12:39] #128 closed

[2021-02-04 12:39] #118 closed

[2021-02-04 12:39] #115 closed

[2021-02-04 12:40] #99 closed

[2021-02-04 12:40] #90 closed

[2021-02-04 12:41] #83 closed

[2021-02-04 12:42] #79 closed

[2021-02-04 12:42] #62 closed

[2021-02-04 12:42] #48 closed

[2021-02-04 13:22] MaksymTaratuta55 opened #154 "Add ramsay-ui library"
Add https://github.com/ramsayinnovations/ramsay-ui

[2021-02-04 22:26] #154 closed

[2021-02-05 09:04] kirti75waytech commented on #144
@thecodeclimber @MaksymTaratuta55 branch #143 has been deleted, which was required for this issue. Do I need to leave the video part for now for this issue. Please can you confirm, If I need to create the video component. If so, can you please provide me the requirements?

[2021-02-05 10:45] MaksymTaratuta55 opened #156 "Code Contact Us Page"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=5cf0566a36e4439ab44e17a123c10aa2

[2021-02-12 12:45] MaksymTaratuta55 opened #158 "Code the Thank You & Error Pages"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=f1b4b572e7bf404fa2d70048126dfb9f

[2021-02-18 10:51] #158 closed

[2021-02-18 10:51] #156 closed

[2021-02-18 11:00] MaksymTaratuta55 opened #162 "Active Campaign and Pipe Drive Integration"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=d8c1047e3d104a7cbb3b801a45e5b1f0

[2021-02-18 17:20] MaksymTaratuta55 opened #164 "Fix Get Started Links"
https://www.notion.so/Fix-Get-Started-Links-6bad016bafd74cac8e9346aaba596820

[2021-02-18 17:27] #164 closed

[2021-02-18 17:27] #162 closed

[2021-02-19 08:02] MaksymTaratuta55 opened #166 "LinkedIn Link"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=625c262c63b84ef78e9224d778cca2f7

[2021-02-19 08:03] MaksymTaratuta55 opened #167 "Change URL Name"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=5bc0ab9db423455dbca4f08372c28069

[2021-02-19 08:05] MaksymTaratuta55 opened #168 "Minor Contact Page Changes"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=a33667dde8584000b046be25e1559c62

[2021-02-19 16:30] MaksymTaratuta55 opened #172 "Fix Header"
- Fix mobile menu list appearance
- Fix fonts for desktop menu list

[2021-02-22 13:35] #166 closed

[2021-02-22 13:37] #167 closed

[2021-02-22 19:54] MaksymTaratuta55 opened #174 "SANITY: Initial Setup"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=85b94b4950b44a5cb6c7353f5f83513f

[2021-02-22 19:55] MaksymTaratuta55 opened #175 "SANITY: Pages & Testimonials"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=f9074a2f3c69476ebca4ca6f7acbd92a

[2021-02-23 00:07] #168 closed

[2021-02-23 00:08] thecodeclimber commented on #172
@MaksymTaratuta55

What is this?

[2021-02-23 16:38] rgCondor opened #176 "Pipedrive integration CON"

[2021-02-24 09:38] thecodeclimber commented on #172
@MaksymTaratuta55

Never mind, I figured it out :)

[2021-02-24 09:38] #172 closed

[2021-02-24 09:55] thecodeclimber commented on #76
@MaksymTaratuta55

Is this issue still relevant or can we close it?

[2021-02-24 09:56] #85 closed

[2021-02-24 10:38] #139 closed

[2021-02-24 10:39] thecodeclimber commented on #129
@MaksymTaratuta55

Can we close this?

[2021-02-24 10:41] #116 closed

[2021-02-24 10:43] thecodeclimber commented on #144
@MaksymTaratuta55

Can we close this?

[2021-02-24 10:44] thecodeclimber commented on #176
@rgCondor

Can you please update us on where this is holding?  Thanks.

[2021-02-24 11:18] MaksymTaratuta55 commented on #76
It seems there are some places to fix it. I'll fix them today

[2021-02-24 11:19] MaksymTaratuta55 commented on #129
@thecodeclimber, I think yes

[2021-02-24 11:19] #129 closed

[2021-02-24 11:21] MaksymTaratuta55 commented on #144
@thecodeclimber, I think yes, if we won't do it for the nearest time or the task description will be changed

[2021-02-24 13:27] thecodeclimber commented on #144
@MaksymTaratuta55  -- great, thanks.

[2021-02-24 13:27] #144 closed

[2021-02-24 13:28] thecodeclimber commented on #76
@MaksymTaratuta55 -- great, thanks.

[2021-02-24 13:30] thecodeclimber commented on #129
@MaksymTaratuta55 -- shall do, thanks.

[2021-02-24 14:57] #76 closed

[2021-02-25 09:07] MaksymTaratuta55 opened #180 "Fix contact form with Pipe Drive"

[2021-02-25 13:40] #180 closed

[2021-02-25 15:48] MaksymTaratuta55 opened #185 "Hot fix footer links and contact success page"

[2021-02-26 08:05] #174 closed

[2021-02-26 08:06] #175 closed

[2021-02-26 11:06] #185 closed

[2021-02-26 11:06] #176 closed

[2021-03-03 12:22] MaksymTaratuta55 opened #192 "Sync Sanity"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=85b94b4950b44a5cb6c7353f5f83513f

[2021-03-03 13:15] MaksymTaratuta55 opened #194 "Blog Design to Next.js"
https://www.notion.so/7f3a05404d0a4ea0abf55177dcac1eef?v=fb187aa25ac44a4ebac907b2ec635acd&p=620cdf3daaa94555ae539874a549c262